<br>
<br>
<h6 class="demo-center-items oj-typography-heading-xl">Goldengate Provisioning</h6>
  <div class="oj-flex-bar">
    <div class="oj-flex-bar-start">
        <oj-button on-click="[[previousStep]]" disabled="[[selectedStepValue() == 'stp1']]">
            <span slot='startIcon' class='demo-stretched-train-step oj-fwk-icon-back oj-fwk-icon'></span>
            Back
        </oj-button>
    </div>
    <div class="oj-flex-bar-middle oj-flex">
        <oj-train id="train" class="oj-flex-item oj-train-stretch demo-stretched-train"
            on-selected-step-changed="[[updateLabelText]]" on-oj-before-select="[[validate]]" selected-step="{{selectedStepValue}}" steps="[[stepArray]]">
        </oj-train>
    </div>
    <div class="oj-flex-bar-end">
        <oj-button on-click="[[nextStep]]" disabled="[[selectedStepValue() == 'stp2']]">
            <span slot='endIcon' class='demo-stretched-train-step oj-fwk-icon-next oj-fwk-icon'></span>
            Next
        </oj-button>
    </div>
  </div>
  <br>
  <br>
  
  <oj-label label-id="grouplabelid">
    <oj-bind-text value="[[selectedStepFormLabel()]]"></oj-bind-text>
  </oj-label>
  
  <oj-validation-group id="tracker" role="group"  valid="{{groupValid}}" aria-labelledby="grouplabelid">
    <oj-bind-if test="[[selectedStepValue() === 'stp1']]">
        <div class="oj-panel  oj-sm-margin-4x-bottom">
        <div class="oj-flex">
        <div class="oj-panel oj-flex-item oj-sm-margin-4x-bottom oj-xl-margin-10x oj-xl-padding-10x oj-lg-margin-7x oj-lg-padding-7x oj-md-margin-4x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
          <oj-form-layout id="fl2"  label-edge="start" max-columns="1" direction="row">
              <br>
                <oj-select-single required id="prot" data="[[onepDepListDP]]"  value="{{onepDepName}}" label-edge="inside" label-hint="Select Deployment Name"
                on-value-changed="[[SelectDeployment]]" style="width: 20em;" >
                </oj-select-single>
                
            <h6 class="oj-typography-heading-sm">Upload Goldengate Software</h6>
                <oj-file-picker  disabled="[[uploadState]]" selection-mode='single' on-oj-select='[[selectListener]]'
                    on-oj-invalid-select='[[invalidListener]]' aria-label="Upload Goldengate Software" >
                </oj-file-picker>
                <br>
              </oj-form-layout>
                <oj-bind-if test="[[progressValue() > 0]]">
                <div id="loadingRegion" aria-busy="true" aria-describedby="progressBar">
                    <oj-bind-text value='{{progressValue}}'></oj-bind-text><span class="oj-bind-text">%</span>
                    <div class="oj-panel demo-panel-progress">
                        <oj-progress-bar id='progressBar' class="oj-progress-bar-embedded" value="{{progressValue}}">
                        </oj-progress-bar>
                    </div>
                </div>
        </oj-bind-if>   
    </div>        
                <div class="oj-panel oj-flex-item oj-sm-margin-1x-bottom oj-xl-margin-10x oj-xl-padding-10x oj-lg-margin-7x oj-lg-padding-7x oj-md-margin-4x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
                  <div class="oj-panel" >
            <h6 class="demo-center-items oj-typography-heading-sm">Deployment Details</h6>
            </div>
            <br>
            <br>
                 <oj-form-layout id="flDep"  label-edge="inside" max-columns="3" direction="row">
                  <oj-input-text id="f1" readonly label-hint="Host Name"
                  value='{{ggDephName}}'></oj-input-text>
                  <oj-input-text id="f2" readonly label-hint="Operating System Platform"
                  value='{{ggDepOSPlat}}'></oj-input-text>
                  <oj-input-text id="f4" readonly label-hint="Installed Goldengate OS Platform"
                  value='{{ggDepGGVer}}'></oj-input-text>
                  <oj-input-text id="f4" readonly label-hint="Goldengate Version"
                  value='{{ggDepGGPlat}}'></oj-input-text>
                  <oj-input-text id="f4" readonly label-hint="Java Version"
                  value='{{ggDepJavaVer}}'></oj-input-text>
                  <oj-input-text id="f6" readonly label-hint="Goldengate Home Path"
                  value='{{ggDepGGHome}}'></oj-input-text>
                  <oj-input-text id="f4" readonly label-hint="Java Home Path"
                  value='{{ggDepJavaHome}}'></oj-input-text>
          </oj-form-layout>
          </div>

        </div>
        
        </div>
  </oj-bind-if>
        <oj-dialog id="UploadSoftDialog" dialog-title="Upload Sofware" style="display:none;width:350px;min-width:240px;max-width:450px;">
            <div slot="body">
                <oj-bind-text value='[[UploadSoftMsg]]'></oj-bind-text>
            </div>
            <div slot="footer">
                <oj-button id="updsoftButton" on-oj-action="[[UploadSoftOKClose]]">
                    OK
                </oj-button>
            </div>
        </oj-dialog>
  
  
    <oj-bind-if test="[[selectedStepValue() === 'stp2']]">
  <div class="oj-flex">
            <div class="oj-panel" style="width: 30%;">
                <h6>&nbsp;&nbsp;Images</h6>
  
                <oj-list-view id="listview" aria-label="list of Softwares" data="[[listSoftDP]]"
                    selected="{{selectedItems}}" selection-mode="multiple"
                    selection-required="[[selectedSelectionRequired]]" on-selected-changed="[[handleSelectedChanged]]"
                    first-selected-item="{{firstSelectedItem}}">
                    <template slot="itemTemplate" data-oj-as="item">
                        <li>
                            <oj-list-item-layout>
                                    <oj-selector slot="selector"
                                    selected-keys='{{selectedItems}}'
                                    selection-mode='multiple'
                                    row-key='[[item.data.id]]'
                                    :id="[['listview_checkboxset' + item.data.id]]">
                                </oj-selector>    
                                <oj-avatar slot="leading" size="xs" src="[[item.data.image]]"></oj-avatar> 
                                <span slot="secondary" class="oj-typography-body-sm oj-text-color-secondary fas fa-cloud-upload-alt">
                                <oj-bind-text value="[[item.data.id]]"></oj-bind-text></span>
                            </oj-list-item-layout>
                        </li>
                    </template>
                </oj-list-view>
            </div>


            <div class="oj-panel demo-panel-progress" style="width: 70%;">
                <oj-progress-bar class="oj-progress-bar-embedded" value="{{insProgress}}"></oj-progress-bar>
                <oj-bind-for-each data="[[runInsLogFile]]">
                    <template>
                        <oj-option :id="[[$current.data]]" value="[[$current.data]]">
                            <br>
                            <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                        </oj-option>
                    </template>
                </oj-bind-for-each>
               </div>
                    <oj-button disabled="[[insButton]]" id="installBtn" class="oj-flex-bar-end oj-button-confirm"
                        chroming='solid' on-oj-action="[[installSoftware]]">
                        Install Software
                    </oj-button>
                </div>
  
    </oj-bind-if>
</oj-validation-group>

<oj-dialog id="TimeoutRM" dialog-title="There is a technical issue. Please try again later" modality="modeless"
style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
<div slot="body">
</div>
</oj-dialog>
