
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div id="sampleDemo"  class="demo-container sampleDemo body-bg">
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
    
    <div id="moduleDemo">  
      <div class="demo-padding">
          <div class="demo-controls">
            <div class="hint" style="border: 1px solid #b0b4c0; margin: 10px;padding: 10px;background-color: #ffffff;display: flex;align-items: baseline;">
              <i class="bi bi-info-circle-fill" style="color: #6f42c1;font-size: 20px;"></i> &nbsp;&nbsp; Here you can organize company profile.
            </div>    
          </div>

          <div class="oj-panel oj-xl-margin-4x tab-bg-style">
            <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
                <oj-buttonset-one id="setMultipleButtons" value="{{selectedTab}}" aria-label="Choose only one format">
              <oj-bind-for-each data="[[tabData]]">
                <template>
                  <oj-option value="[[$current.data.id]]">
                    <span>
                      <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                    </span>
                  </oj-option>
                </template>
              </oj-bind-for-each>
            </oj-buttonset-one>
          </div>
        </div>

          <div id="company">     
          <div style="display: flex;justify-content: center;"
          class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
          <div
            class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
            <oj-validation-group id="companyInfoSec1" role="group" valid="{{groupValid}}"
            aria-labelledby="grouplabelid" disbaled>
            <oj-input-text id="companyName" label-hint="Company Name" required="true" value="{{companyName}}"></oj-input-text>
            <oj-input-text id="businessType" label-hint="Business Type" required="true" value="{{businessType}}"></oj-input-text>
            <div class="oj-flex">
              <div class="oj-flex-item oj-sm-5 oj-sm-padding-2x-end oj-md-padding-3x-end">
                  <oj-select-single required id="countryCodes" label-hint="Country Code" label-edge="inside"
                      data="[[countryCodes]]" value="{{countryCode}}"></oj-select-single>
              </div>
              <div class="oj-flex-item oj-sm-7 oj-sm-padding-2x-start oj-md-padding-3x-start">
                  <oj-input-text id="phone" label-hint="Phone" required="true" value="{{phone}}" length.max="10" on-value-changed="[[phoneValidator]]"></oj-input-text>
              </div>
              <div class="oj-text-color-danger"><oj-bind-text value='[[phoneError]]'></oj-bind-text></div></br>
          </div>
          <div>
              <oj-input-text id="email" label-hint="Email" required="true" value="{{email}}"></oj-input-text>
              <div class="oj-text-color-danger"><oj-bind-text value='[[emailError]]'></oj-bind-text></div></br>
          </div>
            </oj-validation-group>
          </div>
          <div
            class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
            <oj-validation-group id="companyInfoSec2" role="group" valid="{{groupValid}}"
            aria-labelledby="grouplabelid">
            <oj-input-text id="contactPerson" label-hint="Contact Person" required="true" autocomplete="off" value="{{contactPerson}}"></oj-input-text>
            <oj-input-text id="designation" label-hint="Designation" required="true" autocomplete="off" value="{{designation}}"></oj-input-text>
            <oj-text-area id="address" value="{{address}}" label-hint="Address" raw-valuenewE=""
             rows="3" clear-icon="always" required="true">
            </oj-text-area> 
            <div class="oj-flex">
                <div class="oj-flex-item oj-sm-3 oj-sm-padding-2x-end oj-md-padding-3x-end" style="padding-top:10px">
                    <oj-avatar
                    role="img"
                    src="[[companyLogoShow]]"
                    :title="Company Logo">
                    </oj-avatar>      
                </div>
                <div class="oj-flex-item oj-sm-9 oj-sm-padding-2x-start oj-md-padding-3x-start">
                    <oj-file-picker accept='["image/*"]' id="companyLogo" class="demo-max-width" primary-text="Company Logo"
                    secondary-text="[[secondaryText]]" on-oj-select="[[uploadCompanyLogo]]">
                    </oj-file-picker>
                    <span class="hint-note">(Recommended: Upload an image with dimensions 250x250 pixels and a size of 300KB.)</span>
                    <div class="oj-text-color-danger"><oj-bind-text value='[[typeError]]'></oj-bind-text></div></br> 
                    <div class="oj-text-color-danger"><oj-bind-text value='[[sizeError]]'></oj-bind-text></div></br>                   </div>
                  </div>
            </div> 
          </oj-validation-group>
          </div>
        <div style="display: flex;justify-content: center;"
          class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
          <div class="oj-flex-bar">
            <oj-button id="save" chroming="callToAction" on-oj-action="[[formSubmit]]"><i class="fas fa-save"></i> Submit</oj-button>
          </div>
        </div>
      </div>
        </div>

        <div id="bank" style="display: none;">
          <div
          class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
          <div
            class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
            <oj-validation-group id="bankAddSec1" role="group" valid="{{groupValid}}"
            aria-labelledby="grouplabelid" disbaled>
            <oj-input-text required id="account_no" length.max="8" label-hint="Account Number" value="{{company_account_no}}" clear-icon="always" on-value-changed="[[accountLengthCheck]]">
            </oj-input-text>
            <div class="oj-text-color-danger"><oj-bind-text value='[[accountError]]'></oj-bind-text></div></br>
            <oj-input-text required id="bank_name" label-hint="Bank Name" value="{{company_bank_name}}" clear-icon="always">
            </oj-input-text>
            </oj-validation-group>
          </div>
          <div
            class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
            <oj-validation-group id="bankAddSec2" role="group" valid="{{groupValid}}"
            aria-labelledby="grouplabelid">
            <oj-input-text required id="sort_code" length.max="6" label-hint="Sort Code Number" value="{{company_sort_code}}" clear-icon="always" on-value-changed="[[sortCodeLengthCheck]]">
            </oj-input-text>
            <div class="oj-text-color-danger"><oj-bind-text value='[[sortCodeError]]'></oj-bind-text></div></br>
            <oj-input-text required id="account_name" label-hint="Account Name" value="{{company_account_name}}" clear-icon="always">
            </oj-input-text>
          </oj-validation-group>
          </div>
        </div>
        <oj-bind-if test="[[staffActionBtn() === 'Add']]">
          <div style="display: flex;justify-content: center;"
            class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
            <div class="oj-flex-bar">
              <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[bankInfoSave]]">Save
              </oj-button>
            </div>
          </div>
        </oj-bind-if>
        <oj-bind-if test="[[staffActionBtn() === 'Update']]">
          <div style="display: flex;justify-content: center;"
            class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
            <div class="oj-flex-bar">
              <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[bankInfoUpdate]]">Update
              </oj-button>
            </div>
          </div>
        </oj-bind-if>
          </div>
      </div>
    </div>    
  </div>
</div>


<oj-popup id="popup1" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
<div class="demo-popup-body">
    <div class="demo-popup-content oj-sm-padding-2x">
        <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
    </div>
</div>
</oj-popup>

<oj-dialog id="popup2">
<div slot="header" style="display: contents;">
    <p id="dialogTitleId" class="oj-dialog-title">Successfully Saved</p>
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
      OK
    </oj-button>
</div>
<div slot="body">
    <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
        <p style="font-weight: 500;text-align: left">Company details saved successfully</p>
    </div>
</div>
</oj-dialog>

<div class="centered-container" id="loaderView">
  <div class="loader"></div>
</div> 

<oj-dialog id="openAddBankProgress" class="popupProgress" dialog-title="Saving Bank Details" modality="modeless">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>
<oj-dialog id="openBankSaveResult" class="popupBank" dialog-title="Save Bank Details" modality="modeless">
  <div slot="body">
    <oj-bind-text value='[[saveBankMsg]]'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
      OK
    </oj-button>
  </div>
</oj-dialog>      

    
      
  
      



      
        
    