<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/loader.css" type="text/css" />

<div id="sampleDemo"  class="demo-container sampleDemo">
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
    
    <div id="moduleDemo">    
      <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;">
        <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;The candidate is requested to enter work history for the past 5 years or since their qualification date, whichever is sooner.
&nbsp;
        Any temporary and agency work experience can be included.
      </div> 
     
      <div id="fresherStaff" style="display:none;" class="hint">
        <br><br>
        <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;align-items: baseline;">
          <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;<b style="color:red;">User has submitted the work history as fresher.</b>
        </div>  
      </div>

      <div
      class="oj-md-6 oj-sm-12" id="workQuestion">
      <oj-select-single  id="" label-hint="Do you have work experience?" 
      label-edge="inside" data="[[choiceListDP]]" value="{{workSec}}" on-value-changed="[[WorkSecShow]]">
      </oj-select-single>
    </div>

    <div id="fresher" style="display:none;" class="hint">
      <br><br>
      <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;">
      If you are a fresher or do not have relevant work experience, kindly indicate 'Fresher' and proceed to the next step<br><br>
      </div> 
      <div class="fresherBtn-div" style="display: flex; justify-content: center;">
        <oj-button id="fresherBtn" class="" on-oj-action="[[submitFresher]]" style="color: aliceblue;">Fresher
        </oj-button>
      </div>
    </div>

      <div id="workContent" style="display:none;">    
         <oj-button chroming="callToAction" class="oj-xl-margin-4x oj-sm-margin-4x" on-oj-action="[[openAddWorkDialog]]">
              <span slot="startIcon" class="demo-icon-sprite"> Add Work History</span>
            </oj-button>

     <div class="oj-panel">
     <oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider1]]"
    class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
    <template slot="itemTemplate" data-oj-as="item">
      <div
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
      <li>
        <oj-list-item-layout :aria-label="[['Details for ' +item.data.name]]">
        
          <div class="oj-typography-body-md">
            <div class="oj-flex oj-sm-align-items-center">
       
              <div class="oj-flex-item demo-list-item-layout2 ">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Employer Name"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.employer_name]]">
                    <oj-bind-text value="[[item.data.employer_name]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout>
              </div>
              
              <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Business Type"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.business_type]]">
                    <oj-bind-text value="[[item.data.business_type]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout>
              </div>

              <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Document Preview"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.file]]">
                    <oj-bind-if test="[[ item.data.certificate != 'Not Uploaded']]">
                    <div class="oj-text-color-success"><a  :id = "[[ item.data.file ]]" on-click= "[[previewClick]]" target="_blank">Click here</a></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[ item.data.certificate == 'Not Uploaded']]">
                      <oj-bind-text value="Not Uploaded"></oj-bind-text>
                    </oj-bind-if>
                  </div>
                  
                </oj-list-item-layout>
              </div>
<!-- 
              <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="From Date"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.from_date]]">
                    <oj-bind-text value="[[item.data.from_date]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout>
              </div>

                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="To Date"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.to_date]]">
                    <oj-bind-text value="[[item.data.to_date]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout> -->

                <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
                  <oj-list-item-layout class="oj-listitemlayout-padding-off"
                    :aria-label="[['task ' +item.data.taskName]]">
                    <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                      <oj-bind-text value="Actions"></oj-bind-text>
                    </div>
                  <div slot="tertiary" class="oj-typography-body-lg"
                  :aria-label="[['Contact Phone ' + item.data.PPhone]]">
                    <div>
                      <oj-button
                      :id = "[['save' + + item.data.id ]]"
                      chroming="borderless"
                      display="icons"
                      class="oj-button-sm editBtn"
                      on-oj-action="[[editWorkInfo]]"
                      >
                      <span slot="startIcon"></span>
                    Edit
                    </oj-button> 
                    <oj-button
                    chroming="borderless"
                    display="icons"
                    class="oj-button-sm deleteBtn"
                    on-oj-action="[[deleteConfirm]]">
                    <span slot="startIcon"></span>
                    Delete
                  </oj-button>
                  </div>
                </div>
              </oj-list-item-layout>
            </div>

            </div>
          </div>
        
        </oj-list-item-layout>
      </li>
    </div>
  </div>
    </template>
  </oj-list-view>
</div>
</div>
      <oj-dialog id="openAddWorkDialog" dialog-title="[[DialogTitle]]" modality="modeless" drag-affordance="title-bar"
  cancel-behavior="[[CancelBehaviorOpt]]" class="popupDialog">
  <div slot="body">

  <div
    class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
    <div
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-6 oj-sm-12">
      <oj-validation-group id="staffWorkSec1" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid">
      <oj-input-text required id="employer_name" label-hint="Employer Name" value="{{employer_name}}" clear-icon="always">
      </oj-input-text>
      <oj-input-text required id="business_type" label-hint="Business Type" value="{{business_type}}" clear-icon="always">
      </oj-input-text>
      </oj-validation-group>
    </div>
    <div
      class="oj-panel oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
      <oj-validation-group id="staffWorkSec2" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid">
      <oj-input-text required id="job_title" label-hint="Job Title" value="{{job_title}}" clear-icon="always">
      </oj-input-text>
      </oj-validation-group>
      <oj-file-picker  primary-text="[[primaryCustomText]]"
      secondary-text="[[secondaryCustomText]]" on-oj-select="[[selectListener]]">
      </oj-file-picker>
<!--       <div class="oj-text-color-success"></br><a id="work" target="_blank"><oj-bind-text value='[[workFile]]'></a></oj-bind-text></div>
 -->    <div class="oj-text-color-danger"><oj-bind-text value='[[typeError]]'></oj-bind-text></div></br>
    </div>
  </div>
  <oj-bind-if test="[[WorkActionBtn() === 'Add']]">
  <div style="display: flex;justify-content: center;"
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
    <div class="oj-flex-bar">
      <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[staffWorkSave]]">Save
      </oj-button>
    </div>
  </div>
</oj-bind-if>
<oj-bind-if test="[[WorkActionBtn() === 'Update']]">
  <div style="display: flex;justify-content: center;"
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
    <div class="oj-flex-bar">
      <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[staffWorkUpdate]]">Update
      </oj-button>
    </div>
  </div>
</oj-bind-if>
 
</div>
</oj-dialog>
        
    </div>
    <div class="oj-panel">
    <div class="oj-flex">
      <oj-bind-if test="[[workStatus() === 'Pending']]">
    <oj-button chroming="solid" class="oj-xl-margin-4x" on-oj-action="[[updateWorkStatus]]">
         <span slot="startIcon" class=""> Not Audited: Click to mark as audited</span>
       </oj-button>
      </oj-bind-if>
     </div>
     <div class="oj-flex">
      <oj-bind-if test="[[workStatus() === 'Audited']]">
    <oj-button chroming="solid" class="oj-xl-margin-4x" on-oj-action="[[updateWorkStatus]]">
         <span slot="startIcon" class=""> Audited: Click to mark as audit pending</span>
       </oj-button>
      </oj-bind-if>
     </div>
    </div>
  <oj-dialog id="openAddWorkProgress" dialog-title="Saving Work Details" modality="modeless" class="popupProgress">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>

<oj-dialog id="openAddWorkResult" dialog-title="[[ResultTitle]]" modality="modeless" class="popupResult">
  <div slot="body">
    <oj-bind-text value='[[addWorkMsg]]'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
      OK
    </oj-button>
  </div>
</oj-dialog>

<oj-dialog id="openAddUploadingProgress" dialog-title="[[progressText]]" modality="modeless" class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>

<oj-dialog id="openDeleteConfirm" dialog-title="Delete Work Details" modality="modeless" class="popupSend"  cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to delete the selected row?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[deleteWorkInfo]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>

<div class="centered-container" id="loaderView">
  <div class="loader"></div>
</div> 

 
    