<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div id="sampleDemo"  class="demo-container sampleDemo">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
      
      <div id="moduleDemo">    
        <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1; display: flex;align-items: baseline;">
          <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp; You can change the password for the client portal from here.
        </div> 
      </br>
      <div
    class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
    <div
      class="oj-sm-3">
    
    </div>
    <div
      class="oj-sm-5">
      <oj-input-text required id="userName" label-hint="User Name" value="{{userName}}" clear-icon="always" disabled="true">
      </oj-input-text>
      <oj-input-text
      value="{{password}}"
      label-hint="Password"
      hidden></oj-input-text>
      <oj-input-password
      value="{{password}}"
      label-hint="Password"
      mask-icon="visible"></oj-input-password>
      <oj-validation-group id="passwordSec" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid">
      <oj-input-password
      value="{{newPassword}}"
      label-hint="New Password"
      required></oj-input-password>
      <oj-input-password
      value="{{confirmPassword}}"
      label-hint="Confirm Password"
      on-value-changed="[[checkNewPassword]]" required></oj-input-password>
    </oj-validation-group>
      <div class="oj-text-color-danger"><oj-bind-text value='[[passwordError]]'></oj-bind-text></div></br>
    </div>
      </div>
      <div style="display: flex;justify-content: center;"
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
      <div class="oj-flex-bar">
        <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[clientCredentialUpdate]]">Update
        </oj-button>
      </div>
    </div>
    </div> 
  </div> 
</div>   

<oj-dialog id="openAddClientProgress" dialog-title="Updating client credentials" modality="modeless"
  style="display:none;width:350px;min-width:240px;max-width:450px;">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>

      
        
    