<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="css/loader.css" type="text/css" />

 <div class="centered-container" id="loaderView" style="display:none">
  <div class="loader"></div>
</div> 





<div id="mainView">
</div>


<!-- <div class="oj-panel oj-flex oj-xl-margin-8x oj-sm-margin-4x" id="mainView">
    <div class="oj-md-1 oj-sm-12"></div>
    <div id="total-staff-card">
     
        <oj-action-card id="total-staff" on-oj-action="" chroming="solid" class="total-staff-card oj-sm-padding-2x demo-card-content">
            <p class="staff-count"><oj-bind-text value="[[totalStaff]]"></oj-bind-text></p>
            <p>Total Staff</p>
        </oj-action-card>

        <oj-menu-button
        chroming="borderless"
        id="menu-item-list"
        class="oj-button-sm menu-button-icon"
        display="icons">
        <oj-menu slot="menu"  on-oj-action="[[menuItemSelect]]">
            <oj-bind-for-each data="[[menuItems]]">
            <template>
                <oj-option
                value="[[$current.data.label]]"
                id="[[$current.data.id + 1]]">
                <span slot="startIcon" :class="[[$current.data.icon]] userCalender"></span>
                <span>
                    <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                </span>
                </oj-option>
            </template>
            </oj-bind-for-each>
        </oj-menu>
        </oj-menu-button>  
    </div>
        <div class="oj-md-1 oj-sm-12"></div>
        <div id="total-active-card">
     
            <oj-action-card id="total-staff" on-oj-action="" chroming="solid" class="total-active-card oj-sm-padding-2x demo-card-content">
                <p class="staff-count"><oj-bind-text value="[[activeStaff]]"></oj-bind-text></p>
                <p>Active Staff</p>
            </oj-action-card>
    
            <oj-menu-button
            chroming="borderless"
            id="menu-item-list"
            class="oj-button-sm menu-button-icon-active"
            display="icons">
            <oj-menu slot="menu"  on-oj-action="[[menuItemSelect]]">
                <oj-bind-for-each data="[[menuItems]]">
                <template>
                    <oj-option
                    value="[[$current.data.label]]"
                    id="[[$current.data.id + 1]]">
                    <span slot="startIcon" :class="[[$current.data.icon]] userCalender"></span>
                    <span>
                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                    </span>
                    </oj-option>
                </template>
                </oj-bind-for-each>
            </oj-menu>
            </oj-menu-button>  
        </div>
        <div class="oj-md-1 oj-sm-12"></div>
        <div id="total-deactive-card">
            <oj-action-card id="total-staff" on-oj-action="" chroming="solid" class="total-deactive-card oj-sm-padding-2x demo-card-content">
                <p class="staff-count"><oj-bind-text value="[[totalStaff]]"></oj-bind-text></p>
                <p>Inactive Staff</p>
            </oj-action-card>
            <oj-menu-button
            chroming="borderless"
            id="menu-item-list"
            class="oj-button-sm menu-button-icon-deactive"
            display="icons">
            <oj-menu slot="menu"  on-oj-action="[[menuItemSelect]]">
                <oj-bind-for-each data="[[menuItems]]">
                <template>
                    <oj-option
                    value="[[$current.data.label]]"
                    id="[[$current.data.id + 1]]">
                    <span slot="startIcon" :class="[[$current.data.icon]] userCalender"></span>
                    <span>
                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                    </span>
                    </oj-option>
                </template>
                </oj-bind-for-each>
            </oj-menu>
            </oj-menu-button>  
        </div>
      </div> -->


      <div class="oj-panel oj-xl-margin-4x oj-sm-margin-4x" id="mainView">
        <oj-form-layout id="company-information" class="form" direction="row" max-columns="6">
         
            <oj-action-card id="total-staff" on-oj-action="" chroming="solid" class="total-staff-card oj-sm-padding-2x demo-card-content">
                <p class="staff-count"><oj-bind-text value="[[totalStaff]]"></oj-bind-text></p>
                <p>Total Staff</p>
            </oj-action-card>
    
            <oj-menu-button
            chroming="borderless"
            id="menu-item-list"
            class="oj-button-sm menu-button-icon"
            display="icons">
            <oj-menu slot="menu"  on-oj-action="[[menuItemSelect]]">
                <oj-bind-for-each data="[[menuItems]]">
                <template>
                    <oj-option
                    value="[[$current.data.label]]"
                    id="[[$current.data.id + 1]]">
                    <span slot="startIcon" :class="[[$current.data.icon]] userCalender"></span>
                    <span>
                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                    </span>
                    </oj-option>
                </template>
                </oj-bind-for-each>
            </oj-menu>
            </oj-menu-button>  
         
                <oj-action-card id="active-staff" on-oj-action="" chroming="solid" class="total-active-card oj-sm-padding-2x demo-card-content">
                    <p class="staff-count"><oj-bind-text value="[[activeStaff]]"></oj-bind-text></p>
                    <p>Active Staff</p>
                </oj-action-card>
        
                <oj-menu-button
                chroming="borderless"
                id="menu-item-list"
                class="oj-button-sm menu-button-icon-active"
                display="icons">
                <oj-menu slot="menu"  on-oj-action="[[menuItemSelect]]">
                    <oj-bind-for-each data="[[menuItems]]">
                    <template>
                        <oj-option
                        value="[[$current.data.label]]"
                        id="[[$current.data.id + 1]]">
                        <span slot="startIcon" :class="[[$current.data.icon]] userCalender"></span>
                        <span>
                            <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                        </span>
                        </oj-option>
                    </template>
                    </oj-bind-for-each>
                </oj-menu>
                </oj-menu-button>  

                <oj-action-card id="inactive-staff" on-oj-action="" chroming="solid" class="total-deactive-card oj-sm-padding-2x demo-card-content">
                    <p class="staff-count"><oj-bind-text value="[[inactiveStaff]]"></oj-bind-text></p>
                    <p>Inactive Staff</p>
                </oj-action-card>
                <oj-menu-button
                chroming="borderless"
                id="menu-item-list"
                class="oj-button-sm menu-button-icon-deactive"
                display="icons">
                <oj-menu slot="menu"  on-oj-action="[[menuItemSelect]]">
                    <oj-bind-for-each data="[[menuItems]]">
                    <template>
                        <oj-option
                        value="[[$current.data.label]]"
                        id="[[$current.data.id + 1]]">
                        <span slot="startIcon" :class="[[$current.data.icon]] userCalender"></span>
                        <span>
                            <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                        </span>
                        </oj-option>
                    </template>
                    </oj-bind-for-each>
                </oj-menu>
                </oj-menu-button>  
            </oj-form-layout>
          </div>
    
