<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/dashboard.css" type="text/css" />
<link rel="stylesheet" href="css/loader.css" type="text/css" />

<div class="centered-container" id="loaderView" style="display:none">
    <div class="loader"></div>
</div> 

<div class="container-fluid pt-10 mt-5 pb-5">

    <div class="ml-50 py-20">
        <h2 class="welcome-text">Hi,Welcome <oj-bind-text value="[[fullname]]"></oj-bind-text>!</h2>
        <p class="welcome-caption">Manage and track information about staff and shifts.</p>
    </div>
    <!-- Widget Style 1 Start -->
        <div class="row"  id="staffView">
            <div class="col-xl-3 mb-50">
                <div class="bg-white box-shadow border-radius-10 height-100-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="circle-icon">
                            <div class="icon border-radius-100 font-24 text-blue"><i class="fa fa-users" aria-hidden="true"></i></div>
                        </div>
                        <div class="widget-data">
                            <div class="weight-800 font-18"><oj-bind-text value="[[allocatedShift]]"></oj-bind-text></div>
                            <div class="weight-500">Allocated Shift</div>
                        </div> 
                        <div class="menu-icon">
                            <oj-menu-button
                            chroming="borderless"
                            id="menu-item-list"
                            class="oj-button-sm"
                            display="icons">
                            <oj-menu slot="menu"  on-oj-action="[[menuItemAllocateSelect]]">
                                <oj-bind-for-each data="[[menuItemAllocate]]">
                                <template>
                                    <oj-option
                                    value="[[$current.data.label]]"
                                    id="[[$current.data.id + 1]]">
                                    <!-- <span slot="startIcon" :class="[[$current.data.icon]]"></span> -->
                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                    </oj-option>
                                </template>
                                </oj-bind-for-each>
                            </oj-menu>
                            </oj-menu-button>  
                        </div>
                        <div class="link-container">
                            <a class="link" on-click="[[AllocatedStaffPopup]]">
                              View All
                              <i class="fas fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                        <img src="../../css/images/bar-chart.gif" class="bar-chart-icon" alt="Bar Chart Gif">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-50">
                <div class="bg-white widget-style1 border-radius-10 height-100-p box-shadow">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="circle-icon">
                            <div class="icon border-radius-100 font-24 text-blue"><i class="fa fa-clock" aria-hidden="true"></i></div>
                        </div>
                        <div class="widget-data">
                            <div class="weight-800 font-18"><oj-bind-text value="[[totalShiftPost]]"></oj-bind-text></div>
                            <div class="weight-500">Post Shift</div>
                        </div>
                        <div class="menu-icon">
                            <oj-menu-button
                            chroming="borderless"
                            id="menu-item-list"
                            class="oj-button-sm"
                            display="icons">
                            <oj-menu slot="menu"  on-oj-action="[[menuItemSelect]]">
                                <oj-bind-for-each data="[[menuItems]]">
                                <template>
                                    <oj-option
                                    value="[[$current.data.id]]"
                                    id="[[$current.data.id + 1]]">
<!--                                     <span slot="startIcon" :class="[[$current.data.icon]]"></span>
 -->                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                    </oj-option>
                                </template>
                                </oj-bind-for-each>
                            </oj-menu>
                            </oj-menu-button>  
                        </div>
                        <div class="link-container">
                            <a class="link" on-click="[[postShiftPopup]]">
                                View All
                              <i class="fas fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                        <img src="../../css/images/bar-chart.gif" class="bar-chart-icon" alt="Bar Chart Gif">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-50">
                <div class="bg-white box-shadow border-radius-10 height-100-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="circle-icon">
                            <div class="icon border-radius-100 font-24 text-blue"><i class="fa fa-clock" aria-hidden="true"></i></div>
                        </div>
                        <div class="widget-data">
                            <div class="weight-800 font-18"><oj-bind-text value="[[confirmedShiftPost]]"></oj-bind-text></div>
                            <div class="weight-500">Confirmed Shift</div>
                        </div>
                        <div class="menu-icon">
                            <oj-menu-button
                            chroming="borderless"
                            id="menu-item-list"
                            class="oj-button-sm"
                            display="icons">
                            <oj-menu slot="menu"  on-oj-action="[[menuItemConfirmedSelect]]">
                                <oj-bind-for-each data="[[menuItemsConfirmed]]">
                                <template>
                                    <oj-option
                                    value="[[$current.data.id]]"
                                    id="[[$current.data.id + 1]]">
<!--                                     <span slot="startIcon" :class="[[$current.data.icon]]"></span>
 -->                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                    </oj-option>
                                </template>
                                </oj-bind-for-each>
                            </oj-menu>
                            </oj-menu-button>  
                        </div>
                        <div class="link-container">
                            <a class="link" on-click="[[confirmedShiftPopup]]">
                                View All
                              <i class="fas fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                        <img src="../../css/images/bar-chart.gif" class="bar-chart-icon" alt="Bar Chart Gif">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 mb-50">
                <div class="bg-white box-shadow border-radius-10 height-100-p widget-style1">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="circle-icon">
                            <div class="icon border-radius-100 font-24 text-blue"><i class="fa fa-user-edit" aria-hidden="true"></i></div>
                        </div>
                        <div class="widget-data">
                            <div class="weight-800 font-18"><oj-bind-text value="[[completedShiftPost]]"></oj-bind-text></div>
                            <div class="weight-500">Completed Shift</div>
                        </div>
                        <div class="menu-icon">
                            <oj-menu-button
                            chroming="borderless"
                            id="menu-item-list"
                            class="oj-button-sm"
                            display="icons">
                            <oj-menu slot="menu"  on-oj-action="[[menuItemSelectCompleted]]">
                                <oj-bind-for-each data="[[menuItems]]">
                                <template>
                                    <oj-option
                                    value="[[$current.data.id]]"
                                    id="[[$current.data.id + 1]]">
<!--                                     <span slot="startIcon" :class="[[$current.data.icon]]"></span>
 -->                                    <span>
                                        <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                                    </span>
                                    </oj-option>
                                </template>
                                </oj-bind-for-each>
                            </oj-menu>
                            </oj-menu-button>  
                        </div>
                        <div class="link-container">
                            <a class="link" on-click="[[completedShiftPopup]]">
                                View All
                              <i class="fas fa-arrow-right arrow-icon"></i>
                            </a>
                        </div>
                        <img src="../../css/images/bar-chart.gif" class="bar-chart-icon" alt="Bar Chart Gif">
                    </div>
                </div>
            </div>
        </div>
    <!-- Widget Style 1 End -->

    <!-- Widget Style 2 Start -->
<div class="row"  id="ReminderView">
  <div class="col-xl-12 mb-50">
      <div class="bg-white box-shadow border-radius-10 height-100-p widget-style1">
          <div class="d-flex flex-wrap align-items-center">
            <div class="demo-popup-content oj-sm-padding-2x">
              <div class="oj-panel oj-xl-margin-4x" id="actionView"> 
                <div class="button-row" style="padding:10px;">
                  <div class="button-box">
                    <!-- <span class="export-button" on-click="[[downloadReminder]]">
                      Export
                      <i class="fas fa-download"></i>
                    </span> -->
                  </div>
                </div>
                <div class="widget-data">
                  <div class="weight-800 font-18">My Files</div>
              </div> 
                  <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center" style="margin-left:8%;width:80%;">
                    <oj-table id='staffReminderTable' aria-label='All Table' data='[[StaffReminderData]]' display='list'
                    selection-mode='{"row": "single"}'  columns='[
                    { "headerClassName" : "table-header-style",
                    "headerText": "SL.No", "field": "no", "id": "no" },
                    { "headerClassName" : "table-header-style oj-table-col-width",
                    "headerText": "File Name", "field": "file_name", "id": "file_name"},
                    { "headerClassName" : "table-header-style oj-table-col-width",
                    "headerText": "File Type", "field": "file_type", "id": "file_type"},
                    { "headerClassName" : "table-header-style oj-table-col-width",
                    "headerText": "Expiry Date", "field": "expiry_date", "id": "expiry_date", "template": "bgTemplate"}
                    ]' class="demo-table-container oj-table-align">
                   
                    <template slot="bgTemplate" data-oj-as="cell">
                      <oj-bind-if test="[[cell.row.check_date == 'No' ]]">
                          <div class="oj-table-element-expired"><oj-bind-text value="[[cell.row.expiry_date]]"></oj-bind-text></div>
                      </oj-bind-if>
                      <oj-bind-if test="[[cell.row.check_date == 'Yes' ]]">
                        <div class="oj-table-element-expiry"><oj-bind-text value="[[cell.row.expiry_date]]"></oj-bind-text></div>
                    </oj-bind-if>
                    </template>
                    </oj-table>
                        <oj-paging-control
                        class="oj-pagination-align"
                        id="paging"
                        data="[[StaffReminderData]]"
                        page-size="10"
                        slot="bottom">
                    </oj-paging-control> 
                  </div>
                  </div>
                  </div>
          </div>
      </div>
  </div>
</div>
<!-- Widget Style 2 End -->

 <!-- Widget Style 3 Start -->
 <div class="row"  id="workView">
  <div class="col-xl-12 mb-50">
      <div class="bg-white box-shadow border-radius-10 height-100-p widget-style1">
          <div class="d-flex flex-wrap align-items-center">
           <!--    <div class="circle-icon">
                  <div class="icon border-radius-100 font-24 text-blue"><i class="fa fa-users" aria-hidden="true"></i></div>
              </div> --> 
              <div class="widget-data">
                  <div class="weight-800 font-18">My Hours</div>
              </div> 
           <!--    <oj-bind-if test="[[StaffWork() != 'Custom' ]]">
              <span class="export-button1" on-click="[[downloadData]]">
                Export &nbsp;
                <i class="fas fa-download"></i>
              </span>
              </oj-bind-if>
              <oj-bind-if test="[[StaffWork() == 'Custom' ]]">
                <span class="export-button1" on-click="[[downloadDataCustom]]">
                  Export &nbsp;
                  <i class="fas fa-download"></i>
                </span>
                </oj-bind-if> -->
              <div class="menu-icon">
                  <oj-menu-button
                  chroming="borderless"
                  id="menu-item-list"
                  class="oj-button-sm"
                  display="icons">
                  <oj-menu slot="menu"  on-oj-action="[[menuItemSelectStaffHour]]">
                      <oj-bind-for-each data="[[menuItems]]">
                      <template>
                          <oj-option
                          value="[[$current.data.label]]"
                          id="[[$current.data.id + 1]]">
                          <span>
                              <oj-bind-text value="[[$current.data.label]]"></oj-bind-text>
                          </span>
                          </oj-option>
                      </template>
                      </oj-bind-for-each>
                  </oj-menu>
                  </oj-menu-button>  
              </div>
              <oj-bind-if test="[[StaffWork() == 'Custom' ]]">
                <oj-validation-group id="dateFilterStaffWorkHour" role="group" valid="{{groupValid}}"
                aria-labelledby="grouplabelid">
                <oj-bind-if test="[[StaffWorkFlag() == '0' ]]">
                  <div class="search-container">
                    <div class="date-input">
                      <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
                    </div>
                    <div class="date-input">
                      <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
                    </div>
                    <span class="search-button demo-icon-search" on-click="[[getStaffWorkFilterInfo]]"> Show</span>
                  </div>
                  </oj-bind-if>
                  <oj-bind-if test="[[StaffWorkFlag() == '1' ]]">
                  <div class="search-container">
                    <div class="date-input">
                      <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
                    </div>
                    <div class="date-input">
                      <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
                    </div>
                    <span class="search-button demo-icon-search" on-click="[[getStaffWorkFilterInfoClear]]"> Show</span>
                  </div>
                  </oj-bind-if>
              </oj-validation-group>
              </oj-bind-if>
              <div class="oj-flex oj-md-justify-content-space-around oj-sm-align-items-center" style="margin-left:8%;width:80%;">
                 <oj-table id='staffWorkTable' aria-label='All Table' data='[[StaffWorkHoursData]]' display='list'
                selection-mode='{"row": "single"}'  columns='[
                { "headerClassName" : "table-header-style",
                "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                { "headerClassName" : "table-header-style oj-table-col-width",
                "headerText": "Client Name", "field": "client_name", "id": "client_name" },
                { "headerClassName" : "table-header-style",
                "headerText": "Total Hours", "field": "total_hours", "id": "total_hours" }
                ]' class="demo-table-container oj-table-align">
                    <oj-paging-control
                    class="oj-pagination-align1"
                    id="paging"
                    data="[[StaffWorkHoursData]]"
                    page-size="5"
                    slot="bottom">
                </oj-paging-control> 
                    <div class="centered-container" id="loaderViewPopup" style="display:none">
                        <div class="loader"></div>
                    </div> 
                    
            </div>
          </div>
      </div>
  </div>
</div>
<!-- Widget Style 3 End -->

    <!-- Widget Style 2 Start -->
 <!-- <div class="row"  id="StaffShiftView">
    <div class="col-xl-12 mb-50">
        <div class="bg-white box-shadow border-radius-10 height-100-p widget-style1">
            <div class="d-flex flex-wrap align-items-center">
              <div class="demo-popup-content oj-sm-padding-2x">
                <div class="oj-panel oj-xl-margin-4x" id="actionView"> 
                  <div class="button-row" style="padding:10px;">
                    <div class="button-box">
  
                    </div>
                  </div>
                    <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
                      <h2 class="welcome-text">Shift Info</h2>
                      <oj-validation-group id="dateFilterStaffShift" role="group" valid="{{groupValid}}"
                      aria-labelledby="grouplabelid">
                      <oj-bind-if test="[[flag() == '0' ]]">
                      <div class="search-container">
                        <div class="date-input">
                          <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
                        </div>
                        <div class="date-input">
                          <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
                        </div>
                        <span class="search-button demo-icon-search" on-click="[[StaffShiftDateFilter]]"> Show</span>
                      </div>
                      </oj-bind-if>
                      <oj-bind-if test="[[flag() == '1' ]]">
                        <div class="search-container">
                          <div class="date-input">
                            <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
                          </div>
                          <div class="date-input">
                            <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
                          </div>
                          <span class="search-button demo-icon-search" on-click="[[StaffShiftDateFilterClear]]"> Show</span>
                        </div>
                        </oj-bind-if>
                      </oj-validation-group>
                      <oj-table id='staffShiftTable' aria-label='All Table' data='[[StaffShiftData]]' display='list'
                        selection-mode='{"row": "single"}'  columns='[
                        { "headerClassName" : "table-header-style",
                        "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "End Time", "field": "end_time", "id": "end_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Staff Name", "field": "staff_name", "id": "staff_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                        ]' style='width: 100%;' class="demo-table-container">
                        <template slot="bgTemplate" data-oj-as="cell">
                            <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                                <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                                <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                                <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                                <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                          </template>
                        </oj-table>
                        <oj-paging-control
                            id="paging"
                            data="[[StaffShiftData]]"
                            page-size="10"
                            slot="bottom">
                        </oj-paging-control>
                        <div class="centered-container" id="loaderStaffShift" style="display:none">
                          <div class="loader"></div>
                      </div> 
                      
                    </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
  </div> -->
  <!-- Widget Style 2 End -->
</div>

    <oj-popup
        id="AllocatedStaffPopup"
        class="demo-popup"
        auto-dismiss="none"
        modality="modal"
        position.my.horizontal="center"
        position.my.vertical="center"
        position.at.horizontal="center"
        position.at.vertical="center"
        position.of="window"
        tail="none">
        <div class="demo-popup-body">
            <div class="demo-popup-header">
                <div class="button-row">
                  <div class="button-box">
                    <!-- <span class="export-button" on-click="[[downloadData]]">
                      Export
                      <i class="fas fa-download"></i>
                    </span> -->
                  </div>
                  <div class="button-box">
                    <span class="close-button" on-click="[[closeAllocatedStaffPopup]]" title="Close">
                      <i class="fas fa-times"></i>
                    </span>
                  </div>
                </div>
              </div>
                      
        <div class="demo-popup-content oj-sm-padding-2x">
            <div class="oj-panel oj-xl-margin-4x" id="actionView"> 
                <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
                    <oj-table id='staffShiftTable' aria-label='All Table' data='[[AllocatedStaffData]]' display='list'
                    selection-mode='{"row": "single"}'  columns='[
                    { "headerClassName" : "table-header-style",
                    "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                    { "headerClassName" : "table-header-style",
                    "headerText": "Client Name", "field": "client_name", "id": "client_name" },
                    { "headerClassName" : "table-header-style",
                    "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                    { "headerClassName" : "table-header-style",
                    "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                    { "headerClassName" : "table-header-style",
                    "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                    { "headerClassName" : "table-header-style",
                    "headerText": "End Time", "field": "end_time", "id": "end_time" },
                    { "headerClassName" : "table-header-style",
                    "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                    ]' style='width: 100%;' class="demo-table-container">
                    <template slot="bgTemplate" data-oj-as="cell">
                        <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                            <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                        </oj-bind-if>
                        <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                            <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                        </oj-bind-if>
                        <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                            <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                        </oj-bind-if>
                        <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                            <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                        </oj-bind-if>
                      </template>
                    </oj-table>
                    <oj-paging-control
                        id="paging"
                        data="[[AllocatedStaffData]]"
                        page-size="10"
                        slot="bottom">
                    </oj-paging-control>
                        <div class="centered-container" id="loaderViewPopup" style="display:none">
                            <div class="loader"></div>
                        </div> 
                        
                </div>
                </div>
                </div>
        </div>
        </div>
    </oj-popup>
       
    <oj-popup
        id="postShiftPopup"
        class="demo-popup"
        auto-dismiss="none"
        modality="modal"
        position.my.horizontal="center"
        position.my.vertical="center"
        position.at.horizontal="center"
        position.at.vertical="center"
        position.of="window"
        tail="none">
        <div class="demo-popup-body">
            <div class="demo-popup-header">
                <div class="button-row">
                    <div class="button-box">
                      <!-- <span class="export-button" on-click="[[downloadData]]">
                        Export
                        <i class="fas fa-download"></i>
                      </span> -->
                    </div>
                    <div class="button-box">
                      <span class="close-button" on-click="[[closePostShiftPopup]]" title="Close">
                        <i class="fas fa-times"></i>
                      </span>
                    </div>
                  </div>
        </div>           
        <div class="demo-popup-content oj-sm-padding-2x">
            <div class="oj-panel oj-xl-margin-4x" id="postShiftView"> 
                <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
                    <oj-table id='postShiftTable' aria-label='All Table' data='[[PostShiftData]]' display='list'
                        selection-mode='{"row": "single"}'  columns='[
                        { "headerClassName" : "table-header-style",
                        "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Client Name", "field": "client_name", "id": "client_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "End Time", "field": "end_time", "id": "end_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                        ]' style='width: 100%;' class="demo-table-container">
                        <template slot="bgTemplate" data-oj-as="cell">
                            <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                                <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                                <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                                <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                                <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                          </template>
                        </oj-table>
                        <oj-paging-control
                            id="paging"
                            data="[[PostShiftData]]"
                            page-size="10"
                            slot="bottom">
                        </oj-paging-control>
                        <div class="centered-container" id="loaderPostShiftPopup" style="display:none">
                            <div class="loader"></div>
                        </div> 
                        
                </div>
                </div>
                </div>
        </div>
        </div>
    </oj-popup>

    <oj-popup
    id="confirmedShiftPopup"
    class="demo-popup"
    auto-dismiss="none"
    modality="modal"
    position.my.horizontal="center"
    position.my.vertical="center"
    position.at.horizontal="center"
    position.at.vertical="center"
    position.of="window"
    tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-header">
            <div class="button-row">
                <div class="button-box">
                  <!-- <span class="export-button" on-click="[[downloadData]]">
                    Export
                    <i class="fas fa-download"></i>
                  </span> -->
                </div>
                <div class="button-box">
                  <span class="close-button" on-click="[[closePostShiftPopup]]" title="Close">
                    <i class="fas fa-times"></i>
                  </span>
                </div>
              </div>
    </div>           
    <div class="demo-popup-content oj-sm-padding-2x">
        <div class="oj-panel oj-xl-margin-4x" id="confirmedView"> 
            <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
                <oj-table id='confirmedShiftTable' aria-label='All Table' data='[[ConfirmedShiftData]]' display='list'
                selection-mode='{"row": "single"}'  columns='[
                { "headerClassName" : "table-header-style",
                "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                { "headerClassName" : "table-header-style",
                "headerText": "Client Name", "field": "client_name", "id": "client_name" },
                { "headerClassName" : "table-header-style",
                "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                { "headerClassName" : "table-header-style",
                "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                { "headerClassName" : "table-header-style",
                "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                { "headerClassName" : "table-header-style",
                "headerText": "End Time", "field": "end_time", "id": "end_time" },
                { "headerClassName" : "table-header-style",
                "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                ]' style='width: 100%;' class="demo-table-container">
                <template slot="bgTemplate" data-oj-as="cell">
                    <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                        <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                        <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                        <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                        <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                  </template>
                </oj-table>
                <oj-paging-control
                    id="paging"
                    data="[[ConfirmedShiftData]]"
                    page-size="10"
                    slot="bottom">
                </oj-paging-control>
                    <div class="centered-container" id="loaderConfirmedPopup" style="display:none">
                        <div class="loader"></div>
                    </div> 
                    
            </div>
            </div>
            </div>
    </div>
    </div>
</oj-popup>


<oj-popup
id="customPostShiftPopup"
class="demo-popup"
auto-dismiss="none"
modality="modal"
position.my.horizontal="center"
position.my.vertical="center"
position.at.horizontal="center"
position.at.vertical="center"
position.of="window"
tail="none">
<div class="demo-popup-body">
    <div class="demo-popup-header">
        <div class="button-row oj-flex">
          <div class="button-box">
            <!-- <span class="export-button" on-click="[[downloadData]]">
              Export
              <i class="fas fa-download"></i>
            </span> -->
          </div>
          <div class="widget-data">
            <div class="weight-800 font-18"></div>
            <div class="weight-500 export-button">Post Shift : <oj-bind-text value="[[customShiftCount]]"></oj-bind-text></div>
        </div> 
          <oj-validation-group id="dateFilterTotalPostShift" role="group" valid="{{groupValid}}"
          aria-labelledby="grouplabelid">
          <oj-bind-if test="[[flag() == '0' ]]">
          <div class="search-container">
            <div class="date-input">
              <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
            </div>
            <div class="date-input">
              <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
            </div>
            <span class="search-button demo-icon-search" on-click="[[TotalPostShiftDateFilter]]"> Show</span>
          </div>
          </oj-bind-if>
          <oj-bind-if test="[[flag() == '1' ]]">
          <div class="search-container">
            <div class="date-input">
              <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
            </div>
            <div class="date-input">
              <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
            </div>
            <span class="search-button demo-icon-search" on-click="[[TotalPostShiftDateFilterClear]]"> Show</span>
          </div>
          </oj-bind-if>
        </oj-validation-group>
          
        <div class="button-box">
            <span class="close-button" on-click="[[closePostShiftPopup]]" title="Close">
              <i class="fas fa-times"></i>
            </span>
          </div>
        </div>
      </div>
              
<div class="demo-popup-content oj-sm-padding-2x">
    <div class="oj-panel oj-xl-margin-4x" id="actionView5"> 
        <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
            <oj-table id='customPostShiftTable' aria-label='All Table' data='[[CustomPostShiftData]]' display='list'
                        selection-mode='{"row": "single"}'  columns='[
                        { "headerClassName" : "table-header-style",
                        "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Client Name", "field": "client_name", "id": "client_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "End Time", "field": "end_time", "id": "end_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                        ]' style='width: 100%;' class="demo-table-container">
                        <template slot="bgTemplate" data-oj-as="cell">
                            <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                                <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                                <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                                <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                                <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                          </template>
                        </oj-table>
                        <oj-paging-control
                            id="paging"
                            data="[[CustomPostShiftData]]"
                            page-size="10"
                            slot="bottom">
                        </oj-paging-control>
                <div class="centered-container" id="customLoaderViewPopup" style="display:none">
                    <div class="loader"></div>
                </div> 
                
        </div>
        </div>
        </div>
</div>
</div>
</oj-popup>

<oj-popup
id="customConfirmedShiftPopup"
class="demo-popup"
auto-dismiss="none"
modality="modal"
position.my.horizontal="center"
position.my.vertical="center"
position.at.horizontal="center"
position.at.vertical="center"
position.of="window"
tail="none">
<div class="demo-popup-body">
    <div class="demo-popup-header">
        <div class="button-row oj-flex">
          <div class="button-box">
            <!-- <span class="export-button" on-click="[[downloadData]]">
              Export
              <i class="fas fa-download"></i>
            </span> -->
          </div>
          <div class="widget-data">
            <div class="weight-800 font-18"></div>
            <div class="weight-500 export-button">Confirmed Shift : <oj-bind-text value="[[confirmedShiftPost]]"></oj-bind-text></div>
        </div> 
          <oj-validation-group id="dateFilterTotalConfirmedShift" role="group" valid="{{groupValid}}"
          aria-labelledby="grouplabelid">
          <oj-bind-if test="[[flag() == '0' ]]">
          <div class="search-container">
            <div class="date-input">
              <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
            </div>
            <div class="date-input">
              <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
            </div>
            <span class="search-button demo-icon-search" on-click="[[TotalConfirmedShiftDateFilter]]"> Show</span>
          </div>
          </oj-bind-if>
          <oj-bind-if test="[[flag() == '1' ]]">
          <div class="search-container">
            <div class="date-input">
              <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
            </div>
            <div class="date-input">
              <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
            </div>
            <span class="search-button demo-icon-search" on-click="[[TotalConfirmedShiftDateFilterClear]]"> Show</span>
          </div>
          </oj-bind-if>
        </oj-validation-group>
          
        <div class="button-box">
            <span class="close-button" on-click="[[closePostShiftPopup]]" title="Close">
              <i class="fas fa-times"></i>
            </span>
          </div>
        </div>
      </div>
              
<div class="demo-popup-content oj-sm-padding-2x">
    <div class="oj-panel oj-xl-margin-4x" id="actionView5"> 
        <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
            <oj-table id='customConfirmedShiftTable' aria-label='All Table' data='[[CustomConfirmedShiftData]]' display='list'
                        selection-mode='{"row": "single"}'  columns='[
                        { "headerClassName" : "table-header-style",
                        "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "End Time", "field": "end_time", "id": "end_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                        ]' style='width: 100%;' class="demo-table-container">
                        <template slot="bgTemplate" data-oj-as="cell">
                            <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                                <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                                <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                                <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                                <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                          </template>
                        </oj-table>
                        <oj-paging-control
                            id="paging"
                            data="[[CustomConfirmedShiftData]]"
                            page-size="10"
                            slot="bottom">
                        </oj-paging-control>
                <div class="centered-container" id="customLoaderViewPopup" style="display:none">
                    <div class="loader"></div>
                </div> 
                
        </div>
        </div>
        </div>
</div>
</div>
</oj-popup>

<oj-popup
    id="completedShiftPopup"
    class="demo-popup"
    auto-dismiss="none"
    modality="modal"
    position.my.horizontal="center"
    position.my.vertical="center"
    position.at.horizontal="center"
    position.at.vertical="center"
    position.of="window"
    tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-header">
            <div class="button-row">
                <div class="button-box">
                  <!-- <span class="export-button" on-click="[[downloadData]]">
                    Export
                    <i class="fas fa-download"></i>
                  </span> -->
                </div>
                <div class="button-box">
                  <span class="close-button" on-click="[[closePostShiftPopup]]" title="Close">
                    <i class="fas fa-times"></i>
                  </span>
                </div>
              </div>
    </div>           
    <div class="demo-popup-content oj-sm-padding-2x">
        <div class="oj-panel oj-xl-margin-4x" id="completedView"> 
            <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
                <oj-table id='completedShiftTable' aria-label='All Table' data='[[CompletedShiftData]]' display='list'
                selection-mode='{"row": "single"}'  columns='[
                { "headerClassName" : "table-header-style",
                "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                { "headerClassName" : "table-header-style",
                "headerText": "Client Name", "field": "client_name", "id": "client_name" },
                { "headerClassName" : "table-header-style",
                "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                { "headerClassName" : "table-header-style",
                "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                { "headerClassName" : "table-header-style",
                "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                { "headerClassName" : "table-header-style",
                "headerText": "End Time", "field": "end_time", "id": "end_time" },
                { "headerClassName" : "table-header-style",
                "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                ]' style='width: 100%;' class="demo-table-container">
                <template slot="bgTemplate" data-oj-as="cell">
                    <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                        <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                        <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                        <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                        <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                    </oj-bind-if>
                  </template>
                </oj-table>
                <oj-paging-control
                    id="paging"
                    data="[[CompletedShiftData]]"
                    page-size="10"
                    slot="bottom">
                </oj-paging-control>
                    <div class="centered-container" id="loaderCompletedPopup" style="display:none">
                        <div class="loader"></div>
                    </div> 
                    
            </div>
            </div>
            </div>
    </div>
    </div>
</oj-popup>

<oj-popup
id="customCompletedShiftPopup"
class="demo-popup"
auto-dismiss="none"
modality="modal"
position.my.horizontal="center"
position.my.vertical="center"
position.at.horizontal="center"
position.at.vertical="center"
position.of="window"
tail="none">
<div class="demo-popup-body">
    <div class="demo-popup-header">
        <div class="button-row oj-flex">
          <div class="button-box">
            <!-- <span class="export-button" on-click="[[downloadData]]">
              Export
              <i class="fas fa-download"></i>
            </span> -->
          </div>
          <div class="widget-data">
            <div class="weight-800 font-18"></div>
            <div class="weight-500 export-button">Completed Shift : <oj-bind-text value="[[customCompletedShiftPost]]"></oj-bind-text></div>
        </div> 
          <oj-validation-group id="dateFilterTotalCompletedShift" role="group" valid="{{groupValid}}"
          aria-labelledby="grouplabelid">
          <oj-bind-if test="[[flag() == '0' ]]">
          <div class="search-container">
            <div class="date-input">
              <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
            </div>
            <div class="date-input">
              <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
            </div>
            <span class="search-button demo-icon-search" on-click="[[TotalCompletedShiftDateFilter]]"> Show</span>
          </div>
          </oj-bind-if>
          <oj-bind-if test="[[flag() == '1' ]]">
          <div class="search-container">
            <div class="date-input">
              <oj-input-date required label-hint="From Date" autocomplete="off" value="{{start_date}}"></oj-input-date>
            </div>
            <div class="date-input">
              <oj-input-date required label-hint="To Date" autocomplete="off" value="{{end_date}}"></oj-input-date>
            </div>
            <span class="search-button demo-icon-search" on-click="[[TotalCompletedShiftDateFilterClear]]"> Show</span>
          </div>
          </oj-bind-if>
        </oj-validation-group>
          
        <div class="button-box">
            <span class="close-button" on-click="[[closePostShiftPopup]]" title="Close">
              <i class="fas fa-times"></i>
            </span>
          </div>
        </div>
      </div>
              
<div class="demo-popup-content oj-sm-padding-2x">
    <div class="oj-panel oj-xl-margin-4x" id="actionView5"> 
        <div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center">
            <oj-table id='customCompletedShiftTable' aria-label='All Table' data='[[CustomCompletedShiftData]]' display='list'
                        selection-mode='{"row": "single"}'  columns='[
                        { "headerClassName" : "table-header-style",
                        "headerText": "SL.No", "field": "no", "id": "no", "maxWidth" : "8rem" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Name", "field": "shift_name", "id": "shift_name" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Shift Date", "field": "shift_date", "id": "shift_date" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Start Time", "field": "start_time", "id": "start_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "End Time", "field": "end_time", "id": "end_time" },
                        { "headerClassName" : "table-header-style",
                        "headerText": "Status", "field": "status", "id": "status", "template": "bgTemplate" }
                        ]' style='width: 100%;' class="demo-table-container">
                        <template slot="bgTemplate" data-oj-as="cell">
                            <oj-bind-if test="[[cell.row.status == 'Pending' ]]">
                                <div class="oj-table-element-pending-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Confirmed' ]]">
                                <div class="oj-table-element-confirmed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Completed' ]]">
                                <div class="oj-table-element-completed-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                            <oj-bind-if test="[[cell.row.status == 'Incompleted' ]]">
                                <div class="oj-table-element-incompleted-shifts"><oj-bind-text value="[[cell.row.status]]"></oj-bind-text></div>
                            </oj-bind-if>
                          </template>
                        </oj-table>
                        <oj-paging-control
                            id="paging"
                            data="[[CustomCompletedShiftData]]"
                            page-size="10"
                            slot="bottom">
                        </oj-paging-control>
                <div class="centered-container" id="customLoaderViewPopup" style="display:none">
                    <div class="loader"></div>
                </div> 
                
        </div>
        </div>
        </div>
</div>
</div>
</oj-popup>

<div class="centered-container" id="loaderPage" style="display:none">
  <div class="loader"></div>
</div> 
