<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../../css/help.css">
<div class="container">
    <img src="../../css/images/help-banner.jpg" class="banner-image">
    <div class="overlay">
        <p>How can we help you?</p><br>
        <!-- <oj-input-search id="search1" class="oj-form-control-max-width-md" value="{{value}}" suggestions="[[suggestionsDP]]"
            placeholder="Search..." aria-label="My search field"></oj-input-search> -->
    </div>
</div>

<div class="body-bg">
<div class="oj-panel oj-flex oj-sm-align-items-center oj-sm-justify-content-center oj-sm-flex-direction-column">
    <h5  class="text-color-style">Manage Profile</h5>
    <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
        <div class="content oj-flex oj-sm-flex-direction-column">
            <ul>
                <li><a id="guideManageAdmin" on-click= "[[goToPage]]">How to audit profile audit sections?</a></li>
            
            </ul>
        </div>
        <div class="content oj-flex oj-sm-flex-direction-column">
            <ul>
                <li><a id="guideManageAdmin%2FguideManageInvoice%3Bindex%3D1" on-click= "[[goToPage]]">How to create and manage invoice?</a></li>  
            </ul>
        </div>
    </div>
</div>

</div>

<div class="body-bg">
    <div class="oj-panel oj-flex oj-sm-align-items-center oj-sm-justify-content-center oj-sm-flex-direction-column">
        <h5  class="text-color-style">Client</h5>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient" on-click= "[[goToPage]]">Approving shift</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient%2FguideManageTimeSheet%3Bindex%3D1" on-click= "[[goToPage]]">Creating Timesheet For Staff</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient%2FguideManageShiftManager%3Bindex%3D2" on-click= "[[goToPage]]">How to post a shift in Shift Manager</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient%2FguideManageInvoice%3Bindex%3D3" on-click= "[[goToPage]]">Manage invoice</a></li>
                
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="body-bg">
    <div class="oj-panel oj-flex oj-sm-align-items-center oj-sm-justify-content-center oj-sm-flex-direction-column">
        <h5  class="text-color-style">Staff</h5>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff" on-click= "[[goToPage]]">Book Induction</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageContract%3Bindex%3D1" on-click= "[[goToPage]]">Contract</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageCreateNewAccount%3Bindex%3D2" on-click= "[[goToPage]]">Create New Account</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageDBS%3Bindex%3D3" on-click= "[[goToPage]]">DBS</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageHealth%3Bindex%3D4" on-click= "[[goToPage]]">Health</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageRightToWork%3Bindex%3D5" on-click= "[[goToPage]]">Right To Work</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageStaffApplication%3Bindex%3D6" on-click= "[[goToPage]]">Staff Application</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageStaffBank%3Bindex%3D7" on-click= "[[goToPage]]">Staff Bank</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageStaffEducation%3Bindex%3D8" on-click= "[[goToPage]]">Staff Education</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageStaffNextOfKin%3Bindex%3D9" on-click= "[[goToPage]]">Staff Next Of Kin</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageStaffProfile%3Bindex%3D10" on-click= "[[goToPage]]">Staff Profile</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageStaffReference%3Bindex%3D11" on-click= "[[goToPage]]">Staff Reference</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageStarterChecklist%3Bindex%3D12" on-click= "[[goToPage]]">Starter Checklist</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageTraining%3Bindex%3D13" on-click= "[[goToPage]]">Training</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageStaff%2FguideManageWorkHistory%3Bindex%3D14" on-click= "[[goToPage]]">Work History</a></li>
                
                </ul>
    
            </div>

            <div class="content oj-flex oj-sm-flex-direction-column">
                
    
            </div>
            
        </div>
    </div>

</div>

