<link rel="stylesheet" href="../../css/help.css">
<div class="container">
    <img src="../../css/images/help-banner.jpg" class="banner-image">
    <div class="overlay">
        <p>How can we help you?</p><br>
        <!-- <oj-input-search id="search1" class="oj-form-control-max-width-md" value="{{value}}" suggestions="[[suggestionsDP]]"
            placeholder="Search..." aria-label="My search field"></oj-input-search> -->
    </div>
</div>

<div class="body-bg">
<div class="oj-panel oj-flex oj-sm-align-items-center oj-sm-justify-content-center oj-sm-flex-direction-column">
    <h5  class="text-color-style">Manage Profile</h5>
    <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
        <div class="content oj-flex oj-sm-flex-direction-column">
            <ul>
                <li><a id="guideManageAdmin" on-click= "[[goToPage]]">How to audit profile audit sections?</a></li>
            
            </ul>
        </div>
        <div class="content oj-flex oj-sm-flex-direction-column">
            <ul>
                <li><a id="guideManageAdmin%2FguideManageInvoice%3Bindex%3D3" on-click= "[[goToPage]]">How to create and manage invoice?</a></li>  
            </ul>
        </div>
    </div>
</div>

</div>

<div class="body-bg">
    <div class="oj-panel oj-flex oj-sm-align-items-center oj-sm-justify-content-center oj-sm-flex-direction-column">
        <h5  class="text-color-style">Client</h5>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient" on-click= "[[goToPage]]">Approving shift</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient%2FguideManageInvoice%3Bindex%3D3" on-click= "[[goToPage]]">Creating Timesheet For Staff</a></li>
                
                </ul>
            </div>
        </div>
        <div class="contents oj-flex oj-sm-justify-content-center" style="width: 100%;">
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient" on-click= "[[goToPage]]">How to post a shift in Shift Manager</a></li>
                
                </ul>
    
            </div>
            <div class="content oj-flex oj-sm-flex-direction-column">
                <ul>
                    <li><a id="guideManageClient%2FguideManageInvoice%3Bindex%3D3" on-click= "[[goToPage]]">Manage invoice</a></li>
                
                </ul>
            </div>
        </div>
    </div>

</div>

