<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><div class="oj-flex  oj-sm-flex-items-1">
    <div class="inner-side-panel">
        <h3><strong>YOUR PROGRESS</strong></h3>
        <p>Please go through the following steps to complete your application.</p>
        <oj-list-view data="[[dataProvider]]" selection-mode="single" selection="{{selection}}">
            <template slot="itemTemplate" data-oj-as="item">
                <span style="color: black;display: flex; flex-direction: row;justify-content: space-between;">
                    <oj-bind-text value="[[item.data.label]]"></oj-bind-text>
                    <oj-bind-if test="[[item.data.status]] == 'Not Submitted'">
                        <i class="bi bi-check-circle-fill status-not-submitted"></i>
                    </oj-bind-if> 
                    <oj-bind-if test="[[item.data.status]] == 'Pending'">
                        <i class="bi bi-check-circle-fill status-pending"></i>
                    </oj-bind-if> 
                    <oj-bind-if test="[[item.data.status]] == 'Audited'">
                        <i class="bi bi-check-circle-fill status-audit"></i>
                    </oj-bind-if>
                </span>
            </template>
        </oj-list-view>
    </div>
    <div class="oj-flex-item oj-panel" style="margin: 0px;">
        <div class="hint-div oj-panel oj-sm-margin-4x demo-mypanel">
            <h2>YOUR APPLICATION</h2>
            <p>Here you can see the progress of your application.</p>
            <div class="oj-flex-bar">
                <div class="oj-flex-bar-start">
                    <p style="font-weight: bold;"><oj-bind-text value="[[progressValue]]"></oj-bind-text>%</p>
                </div>
                <div class="oj-sm-11 oj-flex-item oj-sm-padding-2x-horizontal">
                    <oj-progress-bar id="progressBar" value="{{progressValue}}" style="height: 20px;"></oj-progress-bar>
                </div>
            </div>
            
            <br>
            <i class="bi bi-check-circle-fill status-audit"></i> Approved &nbsp;
            <i class="bi bi-check-circle-fill status-pending"></i> Under review/Submitted &nbsp;
            <i class="bi bi-check-circle-fill status-not-submitted"></i> Not Submitted
        </div>
        <oj-module config="[[module.koObservableConfig]]"></oj-module>
    </div>
</div>