<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;align-items: baseline;">
    <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;In this section, you will find a list of confirmed shifts.
</div>

<div class="oj-panel oj-xl-margin-4x">
  <oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider1]]"
  class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
  <template slot="itemTemplate" data-oj-as="item">
    <div
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
    <li>
      <oj-list-item-layout>
      
        <div class="oj-typography-body-md">
          <div class="oj-flex">
     
            <div class="oj-flex-item demo-list-item-layout1 oj-md-padding-4x-end oj-sm-padding-12x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end">
                  <oj-bind-text value="Client Name"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
                  <oj-bind-text value="[[item.data.client_name]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end oj-sm-padding-12x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end">
                  <oj-bind-text value="Shift Date"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
                  <oj-bind-text value="[[item.data.shift_date]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>
            
            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end oj-sm-padding-12x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end">
                  <oj-bind-text value="Shift Name"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
                  <oj-bind-text value="[[item.data.shift_name]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end oj-sm-padding-12x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end">
                  <oj-bind-text value="Start Time"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
                  <oj-bind-text value="[[item.data.start_time]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end oj-sm-padding-12x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end">
                  <oj-bind-text value="End Time"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
                  <oj-bind-text value="[[item.data.end_time]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>

           <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end oj-sm-padding-12x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Shift Status"></oj-bind-text>
                </div>
                <oj-bind-if test="[[item.data.shift_status == 'Notified To Client' ]]">
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
                  <oj-bind-text value="Pending"></oj-bind-text>
                </div>
                </oj-bind-if>
                <oj-bind-if test="[[item.data.shift_status != 'Notified To Client' ]]">
                  <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
                    <oj-bind-text value="[[item.data.shift_status]]"></oj-bind-text>
                  </div>
                  </oj-bind-if>
              </oj-list-item-layout>
            </div>

<!-- 
              <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
                  </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <div>
                    <oj-button class="" on-oj-action="[[confirmAllocation]]">
                        <span slot="startIcon"></span>
                        Confirm
                    </oj-button> 
                </div>
              </div>
            </oj-list-item-layout>
          </div> -->

          </div>
        </div>
      
      </oj-list-item-layout>
    </li>
  </div>
</div>
  </template>
</oj-list-view>

<oj-dialog id="openAllocationProgress" dialog-title="Allocating staff..." modality="modeless"
class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>
