<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/postcode.css" type="text/css" />

<div class="sampleDemo">
  <div class="oj-xl-margin-4x">
    <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;">
      <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;In this section, you can add and edit new clients. You can also do the Client related settings such as their payment type, shift configuration etc.
    </div>       
    <div class="oj-flex addClientAlign">
  <!--     <div class="oj-sm-10"></div>
   -->    <oj-button chroming="callToAction" class="oj-xl-margin-4x" on-oj-action="[[openAddClientDialog]]">
        <span slot="startIcon" class="demo-icon-sprite"> Add Client</span>
      </oj-button>
    </div>
  </div>

  <div class="oj-panel oj-xl-margin-4x">
    <oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider1]]"
    class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
    <template slot="itemTemplate" data-oj-as="item">
      <div
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
      <li>
        <oj-list-item-layout :aria-label="[['Details for ' +item.data.name]]">
        
          <div class="oj-typography-body-md">
            <div class="oj-flex oj-sm-align-items-center">
            
              <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end oj-sm-padding-12x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <oj-bind-text value="[[item.data.taskName]]"></oj-bind-text>
                  <div slot="secondary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg oj-text-color-secondary"
                    :aria-label="[['Contact Name ' + item.data.PContact]]">
                    <div>
                      <oj-bind-text value="[[item.data.PContact]]"></oj-bind-text>
                    </div>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end"
                  :aria-label="[['Contact Email ' + item.data.ClientType]]">
                  <div>
                    <oj-bind-text value="[[item.data.ClientType]]"></oj-bind-text>
                  </div>
                </div>
                </oj-list-item-layout>
              </div>
              
              <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end oj-sm-padding-12x-end oj-sm-padding-12x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Contact"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end"
                  :aria-label="[['Contact Email ' + item.data.PEmail]]">
                  <div>
                    <oj-bind-text value="[[item.data.PEmail]]"></oj-bind-text>
                  </div>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end"
                :aria-label="[['Contact Phone ' + item.data.PPhone]]">
                <div>
                  <oj-bind-text value="[[item.data.PPhone]]"></oj-bind-text>
                </div>
              </div>
                </oj-list-item-layout>
              </div>

              <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end oj-sm-padding-12x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <oj-bind-text value="Actions"></oj-bind-text>
                  </div>
                <div slot="tertiary" class="oj-typography-body-lg"
                :aria-label="[['Contact Phone ' + item.data.PPhone]]">
                  <div>
                    <oj-button
                    :id = "[['save' + + item.data.id ]]"
                    chroming="borderless"
                    display="icons"
                    class="oj-button-sm editBtn"
                    on-oj-action="[[editClient]]">
                    <span slot="startIcon"></span>
                  Edit
                </oj-button> 
                <oj-button
                chroming="borderless"
                display="icons"
                class="oj-button-sm userCalender"
                on-oj-action="[[StaffPreferredList]]">
                <span slot="startIcon"></span>
                My Diary
              </oj-button>
              <oj-button
                chroming="borderless"
                display="icons"
                class="oj-button-sm shifts"
                on-oj-action="[[clientPostedShifts]]">
                <span slot="startIcon"></span>
                My Shifts
              </oj-button>
                 <oj-button
                  chroming="borderless"
                  display="icons"
                  class="oj-button-sm deleteBtn"
                  on-oj-action="[[deleteConfirm]]">
                  <span slot="startIcon"></span>
                  Delete
                </oj-button> 
                <oj-bind-if test="[[item.data.status === 'Pending']]">
                <oj-button
                  chroming="borderless"
                  display="icons"
                  class="oj-button-sm userLockBtn"
                  on-oj-action="[[deactivateConfirm]]">
                  <span slot="startIcon"></span>
                  Deactivate
                </oj-button> 
              </oj-bind-if>
              <oj-bind-if test="[[item.data.status === 'Deactive']]">
                <oj-button
                  chroming="borderless"
                  display="icons"
                  class="oj-button-sm userUnLockBtn"
                  on-oj-action="[[activateConfirm]]">
                  <span slot="startIcon"></span>
                  Activate
                </oj-button> 
              </oj-bind-if>
                </div>
              </div>
                </oj-list-item-layout>
              </div>

              <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end oj-sm-padding-12x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Preferred Staff"></oj-bind-text>
                  </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end"
                :aria-label="[['Post town ' + item.data.postTown]]">
                <div>
                  <oj-bind-text value="[[item.data.count]]"></oj-bind-text>
                </div>
              </div>
                </oj-list-item-layout>
              </div>


            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end oj-sm-padding-12x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off oj-sm-padding-12x-end"
                :aria-label="[['task ' +item.data.taskName]]">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary oj-sm-padding-12x-end" :aria-label="[['name ' +item.data.userName]]">
                  <oj-bind-text value="Status"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg oj-sm-padding-12x-end">
              <span :class="[[getBadgeClass(item.data.status)]]">
                <oj-bind-if test="[[item.data.status === 'Pending']]">
                <oj-bind-text value="Active"></oj-bind-text>
              </oj-bind-if>
              <oj-bind-if test="[[item.data.status === 'Deactive']]">
                <oj-bind-text value="Inactive"></oj-bind-text>
              </oj-bind-if>
              </span>
            </div>
              </oj-list-item-layout>
            </div>
          
            </div>
          </div>
        
        </oj-list-item-layout>
      </li>
    </div>
    </template>
  </oj-list-view>

</div>

<oj-dialog id="openAddClientDialog" dialog-title="Add Client Details" modality="modeless" drag-affordance="title-bar"
  cancel-behavior="[[CancelBehaviorOpt]]" class="popupDialog">
  <div slot="body">
<div
    class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
    <div
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-6 oj-sm-12">
      <oj-validation-group id="clientAddSec1" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid" disbaled>
      <oj-input-text id="clientId" label-hint="Client Id" value="{{clientId}}" clear-icon="always"  style="display:none">
      </oj-input-text>
      <oj-input-text required id="clientName" label-hint="Client Name" value="{{clientName}}" clear-icon="always">
      </oj-input-text>
      <oj-input-text required id="businessUnit" label-hint="Registered Business Name" value="{{businessUnit}}" clear-icon="always">
      </oj-input-text>
      <oj-input-text required id="contactPerson" label-hint="Contact Person (First Name,Last Name)"
        value="{{contactPerson}}" clear-icon="always" ></oj-input-text>
      <oj-input-text required id="contactEmail" label-hint="Contact Email" value="{{contactEmail}}" clear-icon="always" on-value-changed="[[emailPatternValidator]]">
      </oj-input-text>
      <div class="oj-text-color-danger"><oj-bind-text value='[[emailError]]'></oj-bind-text></div></br>
      <oj-input-text required id="contactPosition" label-hint="Job Position" value="{{contactPosition}}"
        clear-icon="always"></oj-input-text>
      </oj-validation-group>
    </div>
    <div
      class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
      <oj-validation-group id="clientAddSec2" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid">
      <oj-select-single id="countryCode" label-hint="Country Code" required  data="[[countryCodes]]" value="{{countryCode}}"></oj-select-single>
      <oj-input-text required required length.max="10" id="contactPhone" label-hint="Contact Number" value="{{contactPhone}}" clear-icon="always" on-value-changed="[[onlyNumberKey]]">
      </oj-input-text>
      <div class="oj-text-color-danger"><oj-bind-text value='[[contactError]]'></oj-bind-text></div></br>
      <oj-label-value label-edge="start" label-width="60%">
        <oj-label slot="label" id="altradiosetlabel">Add Alternative Contact ?</oj-label>
        <oj-radioset slot="value" id="altradioSetId" labelled-by="radiosetlabel" value="{{altContactDecision}}"
          class="oj-choice-direction-row">
          <oj-option id="altYes" value="Yes">Yes</oj-option>
          <oj-option id="altNo" value="No">No</oj-option>
        </oj-radioset>
      </oj-label-value>
      <oj-bind-if test="[[altContactDecision() === 'Yes']]">
        <oj-input-text required id="altcontactname" label-hint="Alternate Contact (First Name,Last Name)" value="{{altContact}}" clear-icon="always">
        </oj-input-text>
        <oj-input-text required id="altcontactemail" label-hint="Alt Contact Email" value="{{altContactEmail}}" clear-icon="always">
        </oj-input-text>
        <oj-select-single id="countryCode" label-hint="Country Code" required  data="[[countryCodes]]" value="{{altCountryCode}}"></oj-select-single>
        <oj-input-text required id="altcontactPhone" label-hint="Alt Contact Number" value="{{altContactPhone}}" clear-icon="always">
        </oj-input-text>
        <oj-input-text required id="altcontactpos" label-hint="Alt Contact Job Title" value="{{altContactPos}}" clear-icon="always">
        </oj-input-text>
      </oj-bind-if>
      <oj-label-value label-edge="start" label-width="50%">
        <oj-label slot="label" id="grpradiosetlabel">Part of a Group</oj-label>
        <oj-radioset slot="value" id="grpradioSetId" labelled-by="radiosetlabel" value="{{groupDecision}}"
          class="oj-choice-direction-row">
          <oj-option id="groupYes" value="Yes">Yes</oj-option>
          <oj-option id="groupNo" value="No">No</oj-option>
        </oj-radioset>
      </oj-label-value>
      <oj-bind-if test="[[groupDecision() === 'Yes']]">
        <oj-combobox-one label-hint="Group" label-edge="inside" options="{{ClientGroup}}" value="{{selectedGroup}}" required="[[requiredGroup]]">
        </oj-combobox-one>
      </oj-bind-if>
      <oj-combobox-one label-hint="Client Type" label-edge="inside" options="{{ClientType}}"
        value="{{selectedClientType}}" required="true">
      </oj-combobox-one>
      <!-- <oj-select-single required label-hint="Client Type" 
          label-edge="inside" data="[[ClientTypeListDP]]" value="{{selectedClientType}}">
      </oj-select-single> -->
    </oj-validation-group>
  </div>
</div>

    <div style="display: flex;justify-content: center;"
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
    <div class="oj-flex-bar">
      <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[clientAddSave]]">Save
      </oj-button>
    </div>
  </div>
    </div>
</oj-dialog>

<oj-dialog id="openAddClientProgress" dialog-title="Saving Client Details" modality="modeless"
class="popupProgress">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>

<oj-dialog id="openAddClientResult" dialog-title="Add Client Details" modality="modeless" class="popupSend">
  <div slot="body">
    <oj-bind-text value='[[addClientMsg]]'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
      OK
    </oj-button>
  </div>
</oj-dialog>

<oj-dialog id="openDeleteConfirm" dialog-title="Delete Client Details" modality="modeless"  class="popupSend" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to delete the selected row?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[deleteClientInfo]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>
<oj-dialog id="openDeleteClientProgress" dialog-title="Please wait!Deleteing...." modality="modeless"
class="popupProgress">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>

<oj-dialog id="openDeactivateConfirm" dialog-title="Deactivate Client" modality="modeless"  class="popupSend" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to deactivate the selected client?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[deactivateClient]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>

<oj-dialog id="openDeactivateProgress" dialog-title="Please wait!Deactivating..." modality="modeless"
class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>
<oj-dialog id="openActivateConfirm" dialog-title="Activate Client" modality="modeless"  class="popupSend" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to activate the selected client?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[activateStaff]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>
<oj-dialog id="openActivateProgress" dialog-title="Please wait!Activating..." modality="modeless"
class="popupProgress">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>
<!-- <script type="module">
  import { PostcodeLookup } from "https://cdn.jsdelivr.net/npm/@ideal-postcodes/postcode-lookup-bundled@2/dist/postcode-lookup.esm.js";
  window.PostcodeLookup = PostcodeLookup;
  PostcodeLookup.setup({
    apiKey: "ak_l96o294xFkm5IoleolP19eggRpQyX",
    context: "#context",
    outputFields: {
      line_1: "#line_1",
      line_2: "#line_2",
      line_3: "#line_3",
      post_town: "#post_town",
      postcode: "#postcode"
    }
  });
</script> -->