<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/loader.css" type="text/css" />

<div id="sampleDemo"  class="demo-container sampleDemo">
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
    
    <div id="moduleDemo">    </br>
      <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;align-items: baseline;">
        <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;The candidate is requested to enter educational qualification details.
      </div>  
         <div class="oj-flex">
         <oj-button chroming="callToAction" class="oj-xl-margin-4x oj-sm-margin-4x" on-oj-action="[[openAddEducationDialog]]">
              <span slot="startIcon" class="demo-icon-sprite"> Add Education</span>
            </oj-button>
          </div>

     <div class="oj-panel">
     <oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider1]]"
    class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
    <template slot="itemTemplate" data-oj-as="item">
      <div
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
      <li>
        <oj-list-item-layout :aria-label="[['Details for ' +item.data.name]]">
        
          <div class="oj-typography-body-md">
            <div class="oj-flex oj-sm-align-items-center">
       
              <div class="oj-flex-item demo-list-item-layout2 ">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Institution Name"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.institution_name]]">
                    <oj-bind-text value="[[item.data.institution_name]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout>
              </div>
              
              <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Qualification"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.qualification]]">
                    <oj-bind-text value="[[item.data.qualification]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout>
              </div>

              <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="Document Preview"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.file]]">
                    <oj-bind-if test="[[ item.data.certificate != 'Not Uploaded']]">
                    <div class="oj-text-color-success"><a  :id = "[[ item.data.file ]]" on-click= "[[previewClick]]" target="_blank">Click here</a></div>
                    </oj-bind-if>
                    <oj-bind-if test="[[ item.data.certificate == 'Not Uploaded']]">
                      <oj-bind-text value="Not Uploaded"></oj-bind-text>
                    </oj-bind-if>
                  </div>
                  
                </oj-list-item-layout>
              </div>
<!-- 
              <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="From Date"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.from_date]]">
                    <oj-bind-text value="[[item.data.from_date]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout>
              </div>

                <oj-list-item-layout class="oj-listitemlayout-padding-off"
                  :aria-label="[['task ' +item.data.taskName]]">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                    <oj-bind-text value="To Date"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.to_date]]">
                    <oj-bind-text value="[[item.data.to_date]]"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout> -->

                <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
                  <oj-list-item-layout class="oj-listitemlayout-padding-off"
                    :aria-label="[['task ' +item.data.taskName]]">
                    <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                      <oj-bind-text value="Actions"></oj-bind-text>
                    </div>
                  <div slot="tertiary" class="oj-typography-body-lg"
                  :aria-label="[['Contact Phone ' + item.data.PPhone]]">
                    <div>
                      <oj-button
                      :id = "[['save' + + item.data.id ]]"
                      chroming="borderless"
                      display="icons"
                      class="oj-button-sm editBtn"
                      on-oj-action="[[editEducationInfo]]"
                      >
                      <span slot="startIcon"></span>
                    Edit
                    </oj-button> 
                    <oj-button
                    chroming="borderless"
                    display="icons"
                    class="oj-button-sm deleteBtn"
                    on-oj-action="[[deleteConfirm]]">
                    <span slot="startIcon"></span>
                    Delete
                  </oj-button> 
                  </div>
                </div>
              </oj-list-item-layout>
            </div>

            </div>
          </div>
        
        </oj-list-item-layout>
      </li>
    </div>
  </div>
    </template>
  </oj-list-view>
</div>
<div class="oj-panel">
<div class="oj-flex">
  <oj-bind-if test="[[educationStatus() === 'Pending']]">
<oj-button chroming="solid" class="oj-xl-margin-4x" on-oj-action="[[updateEducationStatus]]">
     <span slot="startIcon" class=""> Not Audited: Click to mark as audited</span>
   </oj-button>
  </oj-bind-if>
 </div>
 <div class="oj-flex">
  <oj-bind-if test="[[educationStatus() === 'Audited']]">
<oj-button chroming="solid" class="oj-xl-margin-4x" on-oj-action="[[updateEducationStatus]]">
     <span slot="startIcon" class=""> Audited: Click to mark as audit pending</span>
   </oj-button>
  </oj-bind-if>
 </div>
</div>
      <oj-dialog id="openAddEducationDialog" dialog-title="[[DialogTitle]]" modality="modeless" drag-affordance="title-bar"
  cancel-behavior="[[CancelBehaviorOpt]]" class="popupDialog">
  <div slot="body">

  <div
    class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
    <div
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-6 oj-sm-12">
      <oj-validation-group id="staffEducationSec1" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid">
      <oj-input-text required id="institution_name" label-hint="Institution Name" value="{{institution_name}}" clear-icon="always">
      </oj-input-text>
      <oj-input-text required id="qualification" label-hint="Qualification" value="{{qualification}}" clear-icon="always">
      </oj-input-text>
      </oj-validation-group>
    </div>
    <div
      class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
      <oj-validation-group id="staffEducationSec2" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid">
      <oj-input-date required label-hint="From Date" autocomplete="off" value="{{from_date}}"></oj-input-date>
      <oj-input-date required label-hint="To Date" autocomplete="off" value="{{to_date}}"></oj-input-date>
      </oj-validation-group>
      <oj-file-picker  primary-text="[[primaryCustomText]]"
      secondary-text="[[secondaryCustomText]]" on-oj-select="[[selectListener]]">
      </oj-file-picker>
<!--       <div class="oj-text-color-success"></br><a id="education" target="_blank"><oj-bind-text value='[[educationFile]]'></a></oj-bind-text></div>
 -->    <div class="oj-text-color-danger"><oj-bind-text value='[[typeError]]'></oj-bind-text></div></br>
    </div>
  </div>
  <oj-bind-if test="[[EducationActionBtn() === 'Add']]">
  <div style="display: flex;justify-content: center;"
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
    <div class="oj-flex-bar">
      <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[staffEducationSave]]">Save
      </oj-button>
    </div>
  </div>
</oj-bind-if>
<oj-bind-if test="[[EducationActionBtn() === 'Update']]">
  <div style="display: flex;justify-content: center;"
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
    <div class="oj-flex-bar">
      <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[staffEducationUpdate]]">Update
      </oj-button>
    </div>
  </div>
</oj-bind-if>
 
</div>
</oj-dialog>
        
    </div>

  <oj-dialog id="openAddEducationProgress" dialog-title="[[progressDialog]]" modality="modeless" class="popupProgress">
  <div slot="body">
    <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
    </oj-progress-bar>
  </div>
</oj-dialog>

<oj-dialog id="openAddEducationResult" dialog-title="[[ResultTitle]]" modality="modeless" class="popupResult">
  <div slot="body">
    <oj-bind-text value='[[addEducationMsg]]'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
      OK
    </oj-button>
  </div>
</oj-dialog>
 
<oj-dialog id="openAddUploadingProgress" dialog-title="[[progressText]]" modality="modeless" class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>

<oj-dialog id="openDeleteConfirm" dialog-title="Delete Education Details" modality="modeless"  class="popupSend" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to delete the selected row?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[deleteEducationInfo]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>

<div class="centered-container" id="loaderView">
  <div class="loader"></div>
</div> 
    