<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../css/appDownload.css">
<div class="main">
<header>
  <nav>
    <div class="logo">
      <img src="../../css/images/jobsplus-logo.png" alt="logo">
    </div>
    <div class="items">
      <a href="?ojr=signin">Sign In</a>
      <a href="?ojr=register">Register</a>
    </div>
  </nav>
</header>

<!-- Hero Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="info">
        <h1 class="app-heading">Ready to Elevate Your Experience? Let's Get Started!</h1>
        <p class="app-sub-heading">
          Tap the download button below to embark on a journey of unparalleled accessibility and convenience. Your Staffvio adventure begins now!
        </p>
        <div class="main-buttons">
          <button><div class="download-app android">
            <i class="fa fa fa-android fa-2x icon"></i>
            <a href="../../css/app/JobsPlus.apk" type="application/vnd.android.package-archive"  download > 
            <span class="df text-note">Download for</span>
            <span class="dfn text-note">Android</span></a>
          </div>
        </button>
    </div>
      </div>
      <div class="app-image">
        <img src="../../css/images/phone.png" alt="Mobile Phone" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<!-- Hero Section Ends -->
</div>