<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/postcode.css" type="text/css" />

<div id="sampleDemo"  class="demo-container sampleDemo">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
      
      <div id="moduleDemo">    
        <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1; display: flex;align-items: baseline;">
          <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp; Billing address for the client, payment terms with instructions to be displayed in the invoice, and payment due date can be set up here. 
        </div> 

        <div
        class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
        <div
          class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-3x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-6 oj-sm-12">
          <oj-validation-group id="clientPaySec1" role="group" valid="{{groupValid}}"
          aria-labelledby="grouplabelid">
          <oj-input-text id="clientId" label-hint="Client Id" value="{{clientId}}" clear-icon="always"  style="display:none">
          </oj-input-text>
          <oj-switch id="addressSwitch" class="oj-flex-item addressSwitch"
          value="{{isChecked}}" label-edge="inside" label-hint="Is contact address same as payment address?" on-value-changed="[[checkedValue]]">
          </oj-switch>
          <oj-bind-if test="[[isChecked() === true]]">
            <oj-input-text required id="address1" label-hint="Address1" value="{{billingAddress1}}" clear-icon="always" disabled="true">
            </oj-input-text>
            <oj-input-text required id="address2" label-hint="Address2"
            value="{{billingAddress2}}" clear-icon="always" disabled="true"></oj-input-text>
            <oj-input-text required id="address3" label-hint="Address3"
            value="{{billingAddress3}}" clear-icon="always" disabled="true"></oj-input-text>
            <oj-input-text required id="postTown" label-hint="Town/City" value="{{billingPostTown}}" clear-icon="always" disabled="true">
            </oj-input-text>
            <oj-input-text required id="postCode" label-hint="Post Code" value="{{billingPostCode}}" clear-icon="always" disabled="true">
            </oj-input-text>
          </oj-bind-if> 
          <oj-bind-if test="[[isChecked() === false]]">
            <oj-input-text required id="address1" label-hint="Address1" value="{{billingAddress1}}" clear-icon="always">
            </oj-input-text>
            <oj-input-text required id="address2" label-hint="Address2"
            value="{{billingAddress2}}" clear-icon="always"></oj-input-text>
            <oj-input-text required id="address3" label-hint="Address3"
            value="{{billingAddress3}}" clear-icon="always"></oj-input-text>
            <oj-input-text required id="postTown" label-hint="Town/City" value="{{billingPostTown}}" clear-icon="always">
            </oj-input-text>
            <oj-input-text required id="postCode" label-hint="Post Code" value="{{billingPostCode}}" clear-icon="always">
            </oj-input-text>
          </oj-bind-if> 
        </oj-validation-group>
        </div>
        <div
          class="oj-panel oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x oj-md-5 oj-sm-12">
          <oj-validation-group id="clientPaySec2" role="group" valid="{{groupValid}}"
          aria-labelledby="grouplabelid">
          <oj-text-area id="paymentTerms" value="{{paymentTerms}}" label-hint="Payment Terms/ Instructions for invoice" raw-valuenewE=""
          rows="4" clear-icon="always" required="true">
          </oj-text-area>
          <oj-select-single required label-hint="Invoice Due on" 
                label-edge="inside" data="[[InvoiceDueOnListDP]]" value="{{selectedInvoiceDueOn}}">
          </oj-select-single>
          <!-- <oj-select-single required label-hint="Holiday Pay Type" 
          label-edge="inside" data="[[HolidayPayTypeListDP]]" value="{{selectedHolidayPayType}}">
          </oj-select-single> -->
          <oj-combobox-one
              id="supportDocument"
              value="{{supportDocument}}"
              label-hint="Support document required?"
              label-edge="inside"
              required="true">
              <oj-option value="No">No</oj-option>
              <oj-option value="Yes">Yes</oj-option>
          </oj-combobox-one>
          <oj-select-single required label-hint="Payment Mode" 
          label-edge="inside" data="[[PaymentModeListDP]]" value="{{selectedPaymentMode}}">
          </oj-select-single>
        </oj-validation-group>
        </div>
      </div>
      <oj-bind-if test="[[clientActionBtn() === 'Add']]">
      <div style="display: flex;justify-content: center;"
      class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
      <div class="oj-flex-bar">
        <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[clientAddPaymentSave]]">Save
        </oj-button>
      </div>
    </div>
  </oj-bind-if>
  <oj-bind-if test="[[clientActionBtn() === 'Update']]">
    <div style="display: flex;justify-content: center;"
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
    <div class="oj-flex-bar">
      <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[clientAddPaymentSave]]">Update
      </oj-button>
    </div>
  </div>
</oj-bind-if>

  
<oj-dialog id="openAddClientProgress" dialog-title="Saving Billing Address" modality="modeless"
class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>
      

      <oj-dialog id="openUpdateStaffProgress" dialog-title="Updating Staff Details" modality="modeless"
      class="popupProgress">
      <div slot="body">
        <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
        </oj-progress-bar>
      </div>
    </oj-dialog>
    <!-- <oj-dialog id="openStaffUpdateResult" dialog-title="Update Staff Details" modality="modeless"  style="display:none;width:350px;min-width:240px;max-width:450px;">
      <div slot="body">
        <oj-bind-text value=''></oj-bind-text>
      </div>
      <div  class="oj-flex-bar" slot="footer">
        <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
          OK
        </oj-button>
      </div>
    </oj-dialog>     -->  
 

  <script type="module">
    import { PostcodeLookup } from "https://cdn.jsdelivr.net/npm/@ideal-postcodes/postcode-lookup-bundled@2/dist/postcode-lookup.esm.js";
    window.PostcodeLookup = PostcodeLookup;
    PostcodeLookup.setup({
      apiKey: "ak_l96o294xFkm5IoleolP19eggRpQyX",
      context: "#context",
      outputFields: {
        line_1: "#line_1",
        line_2: "#line_2",
        line_3: "#line_3",
        post_town: "#post_town",
        postcode: "#postcode"
      }
    });
  </script>      
        
    