<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="oj-flex  oj-sm-flex-items-1 oj-flex-pwa">
    <div class="inner-side-panel">
        <h3><strong>Client Manager</strong></h3>
        <hr>
        <oj-list-view data="[[dataProvider]]" selection-mode="single" selection="{{selection}}">
            <template slot="itemTemplate" data-oj-as="item">
                <span style="color: black;display: flex; flex-direction: row;justify-content: space-between;">
                    <oj-bind-text value="[[item.data.label]]"></oj-bind-text>

                    <i class="bi bi-circle-fill staff-manager"></i>

                </span>
            </template>
        </oj-list-view>
    </div>
    <div class="oj-flex-item oj-panel" style="margin: 0px;">
        <div class="hint-div" style="border: 1px solid #80808036; margin: 10px;padding: 10px;">
            <div style="font-size:large;color:rgb(11, 111, 165)">
                <b>Client Name : <oj-bind-text value="[[clientNameCap]]"></oj-bind-text></b>
        </div>
        <oj-module config="[[module.koObservableConfig]]"></oj-module>
    </div>
</div>
</div>