<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div id="sampleDemo"  class="demo-container sampleDemo">
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
  </br><div>
    <h4>Induction List</h4>
  </div>
  <div id="moduleDemo">    
    <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;align-items: baseline;">
      <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;View and manage induction status of candidates that requested induction. 
    </div>  

<div class="oj-panel">
<oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider1]]"
class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
<template slot="itemTemplate" data-oj-as="item">
 <div
 class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
 <li>
   <oj-list-item-layout :aria-label="[['Details for ' +item.data.name]]">
   
     <div class="oj-typography-body-md">
       <div class="oj-flex oj-sm-align-items-center">

        <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
          <oj-list-item-layout class="oj-listitemlayout-padding-off"
            :aria-label="[['task ' +item.data.taskName]]">
            <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
              <oj-bind-text value="Name"></oj-bind-text>
            </div>
            <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.name]]">
              <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
            </div>
            
          </oj-list-item-layout>
        </div>
  
         <div class="oj-flex-item demo-list-item-layout4 ">
           <oj-list-item-layout class="oj-listitemlayout-padding-off"
             :aria-label="[['task ' +item.data.taskName]]">
             <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
               <oj-bind-text value="Induction Date"></oj-bind-text>
             </div>
             <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.induction_date]]">
               <oj-bind-text value="[[item.data.induction_date]]"></oj-bind-text>
             </div>
             
           </oj-list-item-layout>
         </div>
         
         <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
           <oj-list-item-layout class="oj-listitemlayout-padding-off"
             :aria-label="[['task ' +item.data.taskName]]">
             <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
               <oj-bind-text value="Induction Time"></oj-bind-text>
             </div>
             <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.induction_time]]">
               <oj-bind-text value="[[item.data.induction_time]]"></oj-bind-text>
             </div>
             
           </oj-list-item-layout>
         </div>

         <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
          <oj-list-item-layout class="oj-listitemlayout-padding-off"
            :aria-label="[['task ' +item.data.taskName]]">
            <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
              <oj-bind-text value="Induction Status"></oj-bind-text>
            </div>
            <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.status]]">
              <oj-bind-text value="[[item.data.status]]"></oj-bind-text>
            </div>
            
          </oj-list-item-layout>
        </div>


        <oj-bind-if test="[[item.data.status === 'Requested']]">
           <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
             <oj-list-item-layout class="oj-listitemlayout-padding-off"
               :aria-label="[['task ' +item.data.taskName]]">
               <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
               </div>
             <div slot="tertiary" class="oj-typography-body-lg"
             :aria-label="[['Contact Phone ' + item.data.PPhone]]">
               <div>
    
               <oj-button on-oj-action="[[inductionConfirm]]">
               <span slot="startIcon"></span>
               Confirm
               </oj-button> 
               <oj-button
               on-oj-action="[[inductionReject]]">
               <span slot="startIcon"></span>
               Reject
             </oj-button>
             </div>
           </div>
         </oj-list-item-layout>
       </div>
      </oj-bind-if>

      <oj-bind-if test="[[item.data.status === 'Confirmed']]">
        <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
          <oj-list-item-layout class="oj-listitemlayout-padding-off"
            :aria-label="[['task ' +item.data.taskName]]">
            <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
            </div>
          <div slot="tertiary" class="oj-typography-body-lg"
          :aria-label="[['Contact Phone ' + item.data.PPhone]]">
            <div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <oj-button on-oj-action="[[inductionAttended]]">
            <span slot="startIcon"></span>
            Attended
            </oj-button> 
          </div>
        </div>
      </oj-list-item-layout>
    </div>
   </oj-bind-if>

   <oj-bind-if test="[[item.data.status === 'Attended']]">
   <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
    <oj-list-item-layout class="oj-listitemlayout-padding-off"
      :aria-label="[['task ' +item.data.taskName]]">
      <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
      </div>
    <div slot="tertiary" class="oj-typography-body-lg"
    :aria-label="[['Contact Phone ' + item.data.PPhone]]">

        <div class="oj-text-color-success">    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a  :id = "[[ item.data.staff_id ]]" on-click= "[[profileView]]" title="Go to profile" target="_blank">View Profile</a>
      </div>
    </div>
</oj-list-item-layout>
</div>
</oj-bind-if>

<oj-bind-if test="[[item.data.status === 'Checklist Submitted']]">
  <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
   <oj-list-item-layout class="oj-listitemlayout-padding-off"
     :aria-label="[['task ' +item.data.taskName]]">
     <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
     </div>
   <div slot="tertiary" class="oj-typography-body-lg"
   :aria-label="[['Contact Phone ' + item.data.PPhone]]">

       <div class="oj-text-color-success">    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a  :id = "[[ item.data.staff_id ]]" on-click= "[[profileView]]" title="Go to profile" target="_blank">View Profile</a>
     </div>
   </div>
</oj-list-item-layout>
</div>
</oj-bind-if>

<oj-bind-if test="[[item.data.status === 'Rejected']]">
  <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
   <oj-list-item-layout class="oj-listitemlayout-padding-off"
     :aria-label="[['task ' +item.data.taskName]]">
     <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
     </div>
   <div slot="tertiary" class="oj-typography-body-lg"
   :aria-label="[['Contact Phone ' + item.data.PPhone]]">

       <div class="oj-text-color-success">    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a  :id = "[[ item.data.staff_id ]]" on-click= "[[profileView]]" title="Go to profile" target="_blank">View Profile</a>
     </div>
   </div>
</oj-list-item-layout>
</div>
</oj-bind-if>
   <!-- <oj-bind-if test="[[item.data.status === 'Attended']]">
    <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
      <oj-list-item-layout class="oj-listitemlayout-padding-off"
        :aria-label="[['task ' +item.data.taskName]]">
        <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
        </div>
      <div slot="tertiary" class="oj-typography-body-lg"
      :aria-label="[['Contact Phone ' + item.data.PPhone]]">
      <oj-bind-if test="[[item.data.document_status == null]]">
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <oj-button
          chroming="borderless"
          display="icons"
          class="oj-button-sm uploadBtn"
          on-oj-action="[[UploadDocument]]">
          <span slot="startIcon"></span>
          Upload
        </oj-button>
      </div>
    </oj-bind-if>
    <oj-bind-if test="[[item.data.document_status == 'Uploaded']]">
      <div>
        <div slot="tertiary" class="oj-typography-body-lg" :aria-label="[['name ' +item.data.referrer_status]]">
          <div class="oj-text-color-success">    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <a  :id = "[[ item.data.document ]]" on-click= "[[previewClick]]" title="View uploaded document" target="_blank">Click here</a></div>
        </div>
    </div>
  </oj-bind-if>
    </div>
  </oj-list-item-layout>
</div>
</oj-bind-if>

<oj-bind-if test="[[item.data.status === 'Checklist Submitted']]">
  <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
    <oj-list-item-layout class="oj-listitemlayout-padding-off"
      :aria-label="[['task ' +item.data.taskName]]">
      <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
        &nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
      </div>
    <div slot="tertiary" class="oj-typography-body-lg"
    :aria-label="[['Contact Phone ' + item.data.PPhone]]">
      <div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <oj-button
        :id = "[[item.data.id]]"
        chroming="borderless"
        display="icons"
        class="oj-button-sm viewBtn"
        on-oj-action="[[handleOpen]]">
        <span slot="startIcon"></span>
        View
      </oj-button> 
    </div>
  </div>
</oj-list-item-layout>
</div>
</oj-bind-if>

<oj-bind-if test="[[item.data.status === 'Rejected']]">
  <div class="oj-flex-item demo-list-item-layout4 oj-md-padding-4x-end">
    <oj-list-item-layout class="oj-listitemlayout-padding-off"
      :aria-label="[['task ' +item.data.taskName]]">
      <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary" :aria-label="[['name ' +item.data.userName]]">
  &nbsp;&nbsp;<oj-bind-text value="Actions"></oj-bind-text>
      </div>
    <div slot="tertiary" class="oj-typography-body-lg"
    :aria-label="[['Contact Phone ' + item.data.PPhone]]">
      <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NIL
    </div>
  </div>
</oj-list-item-layout>
</div>
</oj-bind-if> -->

       </div>
     </div>
   
   </oj-list-item-layout>
 </li>
</div>
</div>
</template>
</oj-list-view>
</div>
</div>
</div>


<oj-dialog id="openActionResult" dialog-title="[[ResultTitle]]" modality="modeless"  class="popupSend">
  <div slot="body">
    <oj-bind-text value='[[addInductionMsg]]'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel" on-oj-action="[[DBErrorOKClose]]">
      OK
    </oj-button>
  </div>
</oj-dialog>

<oj-dialog id="openRejectConfirm" dialog-title="Reject Induction Program" modality="modeless"  class="popupSend" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to reject the induction for the selected staff?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[rejectInductionProgram]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>

<oj-dialog id="openRejectProgress" dialog-title="Please wait!Canceling...." modality="modeless"
class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>

<oj-dialog id="openInductionConfirm" dialog-title="Confirm Induction Program" modality="modeless"  class="popupSend" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-bind-text value='Do you want to confirm the induction for the selected staff?'></oj-bind-text>
  </div>
  <div  class="oj-flex-bar" slot="footer">
    <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[confirmInductionRequest]]">
      Yes
    </oj-button>
  </div>
</oj-dialog>

<oj-dialog id="openConfirmProgress" dialog-title="Please wait!Confirming...." modality="modeless"
class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>

<oj-dialog id="openFileUpload" dialog-title="Upload Induction Document" modality="modeless"  class="popupSend" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-file-picker  primary-text="[[inductionFileText]]"
      secondary-text="[[inductionCustomText]]" on-oj-select="[[inductionDocUpload]]">
    </oj-file-picker></br>
  </div>
</oj-dialog>

<oj-dialog id="openAddUploadingProgress" dialog-title="[[progressText]]" modality="modeless"
class="popupProgress">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>

        <oj-dialog id="scrollingDialog" dialog-title="Induction Checklist Form Details">
            <div slot="body">
                <h4>1. History and culture of organisation</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[cultureOrganisationVal]]"></oj-bind-text></h6>
                <h4>2. Philosophy and Principles of Care</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[principlesCareVal]]"></oj-bind-text></h6>
                <h4>3. Introduction to Main Personalities</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[personalitiesVal]]"></oj-bind-text></h6>
                <h4>4. Organisation Structure</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[organisationStructureVal]]"></oj-bind-text></h6>
                <h4>5. Staff Handbook and Employment Agreement</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[employeeAgreementVal]]"></oj-bind-text></h6>
                <h4>6. Emergency and other telephone contacts (official administrators, essential services)</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[emergencyVal]]"></oj-bind-text></h6>
                <h4>7. Policy on Gifts, Wills and Bequests</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[policyOnGiftsVal]]"></oj-bind-text></h6>
                <h4>8. Equal Opportunities Policy</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[equalOpprtVal]]"></oj-bind-text></h6>
                <h4>9. Introduction to Workplace</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[workPlaceVal]]"></oj-bind-text></h6>
                <h4>10. Statement of Main Terms and Conditions</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[statementTermsVal]]"></oj-bind-text></h6>
                <h4>11. Salary and Payment Mode</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[salaryAndPaymentVal]]"></oj-bind-text></h6>
                <h4>12. Absenteeism/ sickness</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[sicknessVal]]"></oj-bind-text></h6>
                <h4>13. Duty Rotas</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[dutyRotasVal]]"></oj-bind-text></h6>
                <h4>14. Uniform Policy</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[uniformPolicyVal]]"></oj-bind-text></h6>
                <h4>15. Staff Availability Policy</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[staffAvailabilityVal]]"></oj-bind-text></h6>
                <h4>16. Time Sheet Policy</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[timeSheetVal]]"></oj-bind-text></h6>
                <h4>17. Transportation Policy</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[transportationVal]]"></oj-bind-text></h6>
                <h4>18. Mobile Phone Policy</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[mobilePhoneVal]]"></oj-bind-text></h6>
                <h4>19. General Data Protection Policy</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[generalDataVal]]"></oj-bind-text></h6>
                <h4>20. Disciplinary, Grievance and Complaints Procedure</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[disciplinaryVal]]"></oj-bind-text></h6>
                <h4>21. Mandatory Trainings</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[mandatoryTrainingsVal]]"></oj-bind-text></h6>
                <h4>22. Personal Hygiene</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[personalHygieneVal]]"></oj-bind-text></h6>
                <h4>Comments</h4>
                <h6 style="margin-left: 20px;"> <oj-bind-text value="[[comment]]"></oj-bind-text></h6>
            </div>
            <div slot="footer">
              <oj-button id="okButton" on-oj-action="[[handleOKClose]]">OK</oj-button>
            </div>
          </oj-dialog>


