<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;align-items: baseline;">
  <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;This section includes the profile view and generating timesheet operations.
</div>

<div
class="oj-panel oj-flex  oj-xl-margin-6x">
<div class="oj-sm-padding-1x oj-sm-4">
  <b>Client Name : <oj-bind-text value="[[clientName]]"></oj-bind-text></b>
</div>
<div class="oj-sm-padding-1x oj-sm-3">
    <b>Shift Name : <oj-bind-text value="[[shiftName]]"></oj-bind-text></b>
</div>
<div class="oj-sm-padding-1x oj-sm-3">
  <b>Shift Date : <oj-bind-text value="[[shiftDate]]"></oj-bind-text></b>
</div>
<div class="oj-sm-padding-1x oj-sm-2">
  <b>Staff Required : <oj-bind-text value="[[requiredStaff]]"></oj-bind-text></b>
</div>
<div class="oj-sm-padding-1x oj-sm-4">
  <b>Staff Type : <oj-bind-text value="[[jobRole]]"></oj-bind-text></b>
</div>
<div class="oj-sm-padding-1x oj-sm-3">
  <b>Start Time : <oj-bind-text value="[[startTime]]"></oj-bind-text></b>
</div>
<div class="oj-sm-padding-1x oj-sm-3">
  <b>End Time : <oj-bind-text value="[[endTime]]"></oj-bind-text></b>
</div>
<div class="oj-sm-padding-1x oj-sm-2">
  <b>Approved Staff : <oj-bind-text value="[[approvedCount]]"></oj-bind-text></b>
</div>
</div>

<div class="oj-panel oj-xl-margin-4x">
  <oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider1]]"
  class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
  <template slot="itemTemplate" data-oj-as="item">
    <div
    class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
    <li>
      <oj-list-item-layout>
      
        <div class="oj-typography-body-md">
          <div class="oj-flex">
     
            <div class="oj-flex-item demo-list-item-layout1 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Staff Name"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <oj-bind-text value="[[item.data.staff_name]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Contact"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                <div>
                  <oj-bind-text value="[[item.data.contactEmail]]"></oj-bind-text>
                </div>
              </div>
              <div slot="tertiary" class="oj-typography-body-lg">
              <div>
                <oj-bind-text value="[[item.data.contactNumber]]"></oj-bind-text>
              </div>
            </div>
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout1 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Checkin Time"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <oj-bind-text value="[[item.data.checkin]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>

            <div class="oj-flex-item demo-list-item-layout1 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Checkout Time"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <oj-bind-text value="[[item.data.checkout]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div>
            <!-- <oj-bind-if test="[[item.data.document != null]]">
            <div class="oj-flex-item oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Document Preview"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <div class="oj-text-color-success"><a  :id = "[[ item.data.document ]]" on-click= "[[previewClick]]" target="_blank">Click here</a></div>
                </div>
                
              </oj-list-item-layout>
            </div>
            </oj-bind-if>

            <oj-bind-if test="[[item.data.document == null]]">
              <div class="oj-flex-item oj-md-padding-4x-end">
                <oj-list-item-layout class="oj-listitemlayout-padding-off">
                  <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                    <oj-bind-text value="Document Preview"></oj-bind-text>
                  </div>
                  <div slot="tertiary" class="oj-typography-body-lg">
                    <oj-bind-text value="N/A"></oj-bind-text>
                  </div>
                  
                </oj-list-item-layout>
              </div>
              </oj-bind-if> -->
<!-- 
            <div class="oj-flex-item demo-list-item-layout2 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Preferred"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <oj-bind-if test="[[item.data.client_id == selectedClientId() ]]">
                      <oj-bind-text value="Yes"></oj-bind-text>
                  </oj-bind-if> 
                  <oj-bind-if test="[[item.data.client_id != selectedClientId() ]]">
                      <oj-bind-text value="No"></oj-bind-text>
                  </oj-bind-if> 
                </div>
                
              </oj-list-item-layout>
            </div>
            
            <div class="oj-flex-item demo-list-item-layout1 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Approve Status"></oj-bind-text>
                </div>
                <div slot="tertiary" class="oj-typography-body-lg">
                  <oj-bind-text value="[[item.data.approve_status]]"></oj-bind-text>
                </div>
                
              </oj-list-item-layout>
            </div> -->


            <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
              <oj-list-item-layout class="oj-listitemlayout-padding-off">
                <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                  <oj-bind-text value="Actions"></oj-bind-text>
                </div>
              <div slot="tertiary" class="oj-typography-body-lg">
                <div>
                  <oj-button
                  :id = "[[item.data.staff_id]]"
                chroming="borderless"
                display="icons"
                class="oj-button-sm viewBtn"
                on-oj-action="[[profileView]]">
                <span slot="startIcon"></span>
                My Profile View
              </oj-button> 
              <oj-button
              :id = "[[item.data.staff_id]]"
            chroming="borderless"
            display="icons"
            class="oj-button-sm shifts"
            on-oj-action="[[generateTimesheet]]">
            <span slot="startIcon"></span>
            Generate Timesheet
          </oj-button> 
            <!-- <oj-button
            :id = "[[item.data.staff_id]]"
          chroming="borderless"
          display="icons"
          class="oj-button-sm uploadBtn"
          on-oj-action="[[UploadDocument]]">
          <span slot="startIcon"></span>
          Upload Timesheet
        </oj-button>  -->
          </div>
            </div>
          </oj-list-item-layout>
        </div>
          </div>
        </div>
      
      </oj-list-item-layout>
    </li>
  </div>
</div>
  </template>
</oj-list-view>

<oj-dialog id="openUserProfileInfo" dialog-title="Staff Profile" modality="modeless"
cancel-behavior="[[CancelBehaviorOpt]]" style="display:none;width:550px;min-width:240px;max-width:550px;">
<div id="divToDownload" slot="body">
  <oj-avatar
  role="img"
  src="[[profilePhoto]]"
  :title="Pic">
</oj-avatar>   
  <div><b>Job Role</b> &nbsp;&nbsp;: <oj-bind-text value="[[jobRole]]"></oj-bind-text></div></br>
  <div><b>Personal Details</b></div>
  <div>Name  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   : <oj-bind-text value="[[name]]"></oj-bind-text></div>
  <div>Gender &nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[gender]]"></oj-bind-text></div></br>
  <div><b>DBS Details</b></div>
  <div>DBS Number	 &nbsp;&nbsp;&nbsp;   : <oj-bind-text value="[[dbsNumber]]"></oj-bind-text></div>
  <div>Date of Issue &nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[dbsExpiryDate]]"></oj-bind-text></div></br>
  <div><b>Visa Details</b></div>
  <div>Valid Visa/BRP	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   : <oj-bind-text value="Checked and verified"></oj-bind-text></div>
  <div>BRP Expiry Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[dbsExpiryDate]]"></oj-bind-text></div>
  <div>Right to Work&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="Checked and verified"></oj-bind-text></div>
  <div>Right to Work Expiry &nbsp;&nbsp;: <oj-bind-text value="[[dbsExpiryDate]]"></oj-bind-text></div></br>
  <div><b>Reference Details</b></div>
  <div>Reference 1 &nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="Checked and verified"></oj-bind-text></div>
  <div>Reference 2 &nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="Checked and verified"></oj-bind-text></div></br>
  <div><b>Mandatory Training Modules</b></div>
  <div>Moving and Handling   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[movingFile_expiry_date]]"></oj-bind-text></div>
  <div>Safeguarding Adults   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[safeguarding_expiry_date]]"></oj-bind-text></div>
  <div>Health and Safety     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[health_expiry_date]]"></oj-bind-text></div>
  <div>Food and Hygiene    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[food_expiry_date]]"></oj-bind-text></div>
  <div>First Aid/ Basic Life Support &nbsp;&nbsp;: <oj-bind-text value="[[support_expiry_date]]"></oj-bind-text></div>
  <div>COSHH     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[coshh_expiry_date]]"></oj-bind-text></div>
  <div>Fire Safety  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[safety_expiry_date]]"></oj-bind-text></div>
  <div>Challenging Behavior  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[behaviour_expiry_date]]"></oj-bind-text></div>
  <div>Epilepsy  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[epilepsy_expiry_date]]"></oj-bind-text></div>
  <div>Mental Capacity Act  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[act_expiry_date]]"></oj-bind-text></div>
  <div>Infection Prevention Control &nbsp;&nbsp;: <oj-bind-text value="[[prevention_expiry_date]]"></oj-bind-text></div>
  <div>Learning Disabilities &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[disability_expiry_date]]"></oj-bind-text></div>
  <div>Care Certificate  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <oj-bind-text value="[[care_expiry_date]]"></oj-bind-text></div></br>
</div>
</oj-dialog> 


<oj-dialog id="openAddStaffTimesheet" dialog-title="Add Staff Timesheet" modality="modeless" drag-affordance="title-bar"
  cancel-behavior="[[CancelBehaviorOpt]]" style="display:none;width:600px;min-width:600px;max-width:600px;">
  <div slot="body">

  <div
    class="oj-panel">
    <div
    class="oj-flex oj-sm-margin-2x-bottom oj-xl-margin-3x oj-xl-padding-5x oj-lg-margin-3x oj-lg-padding-7x oj-md-margin-3x oj-md-padding-4x oj-sm-margin-1x oj-sm-padding-1x">
    <div
      class="oj-sm-3">
    
    </div>
    <div
      class="oj-sm-6">
      <oj-validation-group id="timesheetSec" role="group" valid="{{groupValid}}"
      aria-labelledby="grouplabelid">
      <oj-input-time required id="checkin" value="{{checkin}}" label-hint="Checkin Time"></oj-input-time></br></br> 
<!--       <oj-input-time required id="checkout" value="{{checkout}}" label-hint="Checkout Time"></oj-input-time></br></br> 
 -->    </oj-validation-group>
      <div style="display: flex;justify-content: center;"
      class="oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
      <div class="oj-flex-bar">
        <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[timesheetSave]]">Save
        </oj-button>
      </div>
    </div>
    </div>
      </div>
    </div>
</oj-dialog>

<oj-dialog id="openTimesheetSaveProgress" dialog-title="Timesheet saving..." modality="modeless"
style="display:none;width:350px;min-width:240px;max-width:450px;">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>

<oj-dialog id="openFileUpload" dialog-title="Upload Timesheet" modality="modeless"  style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
  <div slot="body">
    <oj-file-picker  primary-text="[[timesheetFileText]]"
      secondary-text="[[timesheetCustomText]]" on-oj-select="[[timesheetDocUpload]]">
    </oj-file-picker></br>
  </div>
</oj-dialog>

<oj-dialog id="openAddUploadingProgress" dialog-title="[[progressText]]" modality="modeless"
style="display:none;width:350px;min-width:240px;max-width:450px;">
<div slot="body">
  <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
  </oj-progress-bar>
</div>
</oj-dialog>