<link rel="stylesheet" href="css/referenceVerification.css" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="reference-body">
    
    <oj-bind-if test="[[referenceStatus() === 'Email Sent' ]]">
        <div class="reference-div" id="refereForm">
            <div class="logo">
                <!-- <img src="../../css/images/company.jpg"> -->
            </div>
            <p class="text-center heading">Employee Reference Request for <oj-bind-text value="[[userName]]"></oj-bind-text></p>

            <div class="relationship-form" style="padding: 30px;">
                <oj-validation-group id="staffUpdateSec1" role="group" valid="{{groupValid}}" aria-labelledby="" disbaled>
                    <div class="form-input">
                        <h5>1. What is your relationship with <oj-bind-text value="[[userName]]"></oj-bind-text>?</h5>
                        <oj-input-text id="control1" required value="{{releationship}}" label-hint="Relationship"></oj-input-text>
                    </div>
                    <div class="form-input">
                        <h5>2. In what capacity did <oj-bind-text value="[[userName]]"></oj-bind-text> work with you?</h5>
                        <oj-input-text id="nestedcontrol1" required value="{{capacity}}" label-hint="Capacity"></oj-input-text>
                    </div>
                    <div class="form-input">
                        <h5>3. What was the  <oj-bind-text value="[[userName]]"></oj-bind-text> duration of employment with you?</h5>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-6">
                                <h6>From Date :</h6>
                                <oj-input-date required value="{{durationFrom}}" label-hint="Enabled" autocomplete="off"></oj-input-date>
                            </div>
                            <div class="col-sm-6">
                                <h6>To Date :</h6>
                                <oj-input-date required value="{{durationTo}}" label-hint="Enabled" autocomplete="off"></oj-input-date>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-input">
                        <h5>4. What is your organizational name?</h5>
                        <oj-input-text required id="nestedcontrol3" value="{{organisationName}}" label-hint="Organisation Name"></oj-input-text>
                    </div>
                    <div class="form-input">
                        <h5>5. What is your Job Title/Position in the Organization?</h5>
                        <oj-input-text required id="control3" value="{{position}}" label-hint="Title/Position"></oj-input-text>
                    </div>
                    <div class="form-input">
                        <h5>6. Was  <oj-bind-text value="[[userName]]"></oj-bind-text> honest and trustworthy at all times?</h5>
                        <oj-radioset required label-hint="Honest and Trustworthy" label-edge="inside" class="oj-choice-direction-row" 
                        value="{{honest}}" on-value-changed="[[honestAreaShow]]">
                            <oj-option value="yes">Yes</oj-option>
                            <oj-option value="no">No</oj-option>
                        </oj-radioset>
                        <div id="honest-detail" style="margin-top: 10px; display: none;">
                            <h6>If No, please provide full details and outcome [Max length 200]:</h6>
                            <oj-text-area id="text-area" required="[[honestDetailRequired]]" value="{{noHonestReason}}" rows="3" label-hint="Details"></oj-text-area>   
                        </div>
                    </div>
                    <div class="form-input">
                        <h5>7. During employment was  <oj-bind-text value="[[userName]]"></oj-bind-text> subject to any Disciplinary procedure?</h5>
                        <oj-radioset required label-hint="Disciplinary" label-edge="inside" class="oj-choice-direction-row"
                        value="{{disciplinary}}" on-value-changed="[[disciplinaryDetailsShow]]">
                            <oj-option value="yes">Yes</oj-option>
                            <oj-option value="no">No</oj-option>
                        </oj-radioset>
                        <div id="disciplinary-details" style="display: none;">
                            <h6 style="margin-top: 10px;">If Yes, please provide full details and outcome [Max length 200]:</h6>
                            <oj-text-area id="text-area" required="[[disciplinaryDetailRequired]]" value="{{yesDisciplinaryDetails}}" rows="3" label-hint="Details"></oj-text-area>
                        </div>
                    </div>
                    <div class="form-input">
                        <h5>8. Was the sickness/absence record of  <oj-bind-text value="[[userName]]"></oj-bind-text> over the last 24 months within acceptable levels?</h5>
                        <oj-radioset required label-hint="Sickness/absence" label-edge="inside" class="oj-choice-direction-row" 
                        value="{{acceptableLevels}}" on-value-changed="[[acceptableDetailsShow]]">
                            <oj-option value="yes">Yes</oj-option>
                            <oj-option value="no">No</oj-option>
                        </oj-radioset>
                        <div id="acceptable-detail" style="display: none;">
                            <h6 style="margin-top: 10px;">If no, please supply more Information [Max length 200].</h6>
                            <oj-text-area id="text-area" required="[[acceptableDetailRequired]]" value="{{noAcceptableLevelsDetails}}" rows="3" label-hint="Details"></oj-text-area>
                        </div>
                    </div>
                    <div class="form-input">
                        <h5>9. Do you have any other information you feel would be relevant to an employer? [Max length 200]</h5>
                        <oj-text-area required id="text-area" value="{{otherInformation}}" rows="3" label-hint="Details"></oj-text-area>
                    </div>
                </oj-validation-group>
                <div class="submit-btn">
                    <oj-button class="text-center" id="button1" on-oj-action="[[referneceSubmit]]">Submit Details</oj-button>
                </div>
            </div>
        </div>
    </oj-bind-if>

    <oj-bind-if test="[[referenceStatus() === 'Received' ]]">
        <div class="refernce-success" style="padding: 10px;">
            <div class="logo">
                <!-- <img src="../../css/images/company.jpg"> -->
            </div>
            <h3 class="text-center">
                Thank you for your reference for  <oj-bind-text value="[[userName]]"></oj-bind-text>. It has been recorded successfully.
            </h3>
        </div>
    </oj-bind-if>
</div>

<oj-popup id="loader"  class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center" position.my.vertical="center"
    position.at.horizontal="center"
    position.at.vertical="center"
    position.of="window"
    tail="none">
    <div class="demo-popup-body">
        <div class="demo-popup-content oj-sm-padding-2x">
            <oj-progress-circle size="md" value="-1"></oj-progress-circle>
        </div>
    </div>
</oj-popup>