<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="../../css/staffCalender.css">
<!--     <div class="oj-flex">
    <div class="oj-sm-1"></div>
    <div class="oj-xl-margin-4x">
      <h3><strong><oj-bind-text value=""></oj-bind-text></strong></h3>
    </div>
    <div class="oj-sm-6"></div>
         <oj-button chroming="solid" class="oj-xl-margin-4x" on-oj-action="">
          <span slot="startIcon" class=""> Staff Availability</span>
        </oj-button>
       <oj-button chroming="solid" class="oj-xl-margin-4x" on-oj-action="">
          <span slot="startIcon" class=""> Staff Allocation</span>
        </oj-button>
      </div> -->
      <div class="hint" style="border: 1px solid #80808036; margin: 10px;padding: 10px;background-color: #d1ecf1;display: flex;align-items: baseline;">
        <i class="bi bi-info-circle-fill" style="color: #002366;font-size: 20px;"></i> &nbsp;&nbsp;Here you can create and manage the availability of the staff.
      </div>
<div class="main-page" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
        <oj-date-picker id="datepicker" day-formatter="[[dayFormatter]]" value="{{dates}}"></oj-date-picker>
</div>
           <oj-input-text style="display:none" id="selectdate" value="{{dates}}" clear-icon="always" on-value-changed="[[availableDate]]">
            </oj-input-text>


    <oj-dialog id="openAddAvailability" dialog-title="Staff Availability" modality="modeless"  style="display:none;width:550px;min-width:300px;max-width:550px;" cancel-behavior="[[CancelBehaviorOpt]]">
        <div class="oj-panel">
            <div class="row oj-flex" style="display: flex;justify-content: center;">
              <div class="oj-sm-6">
                <oj-validation-group id="availabilitySec" role="group" valid="{{groupValid}}"
                aria-labelledby="grouplabelid">
                <oj-bind-if test="[[checkVal() == true]]">
                <oj-input-text required label-hint="Selected Date" autocomplete="off" value="{{dates}}" disabled="{{checkVal}}"></oj-input-text></br></br>
                </oj-bind-if>
                  <oj-bind-if test="[[checkVal() == false]]">
                    <oj-input-date required label-hint="Select Date" autocomplete="off" value="{{selectAvailableDate}}" ></oj-input-date></br></br>
                  </oj-bind-if>
                <oj-select-single required id="Database" label-hint="Shift Type" label-edge="inside" data="[[shiftTypeDP]]" value="{{shiftType}}">
                </oj-select-single></br></br></br>
                <oj-text-area id="comments" value="{{comments}}" label-hint="Comments (Optional)" raw-valuenewE=""
                rows="3" clear-icon="always">
                </oj-text-area>
              </oj-validation-group>
              </div>
            </div>
            <div style="display: flex;justify-content: center;"
            class="oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x">
            <div class="oj-flex-bar">
              <oj-bind-if test="[[checkVal() === true]]">
              <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[confirmAvailability]]">Save
              </oj-button>
            </oj-bind-if>
            <oj-bind-if test="[[checkVal() === false]]">
              <oj-button id="confirmBtn" class="oj-flex-bar-end" chroming='callToAction' on-oj-action="[[confirmAvailabilityUpdate]]">Update
              </oj-button>
            </oj-bind-if>
            </div>
            </div>
            </div>
        </oj-dialog>

        <oj-dialog id="openSaveConfirm" dialog-title="Save Staff Availability" modality="modeless"  style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
          <div slot="body">
            <oj-bind-text value='Would you like to save your changes?'></oj-bind-text>
          </div>
          <div  class="oj-flex-bar" slot="footer">
            <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[saveAvailability]]">
              Yes
            </oj-button>
          </div>
        </oj-dialog>
        <oj-dialog id="openUpdateConfirm" dialog-title="Update Staff Availability" modality="modeless"  style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
          <div slot="body">
            <oj-bind-text value='Would you like to save your changes?'></oj-bind-text>
          </div>
          <div  class="oj-flex-bar" slot="footer">
            <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[updateAvailability]]">
              Yes
            </oj-button>
          </div>
        </oj-dialog>
        <oj-dialog id="openAddAvailabilityProgress" dialog-title="Saving Availability details" modality="modeless"
        style="display:none;width:350px;min-width:240px;max-width:450px;">
        <div slot="body">
          <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
          </oj-progress-bar>
        </div>
      </oj-dialog>
     
      <oj-bind-if test="[[listData() === 'Yes']]">
      <div class="oj-panel oj-xl-margin-4x">
        <oj-list-view id="listviewtwo" aria-label="multicolumn with list item layout" data="[[dataProvider1]]"
        class="oj-sm-padding-2x-vertical" selection-mode="multiple" selected="{{selectorSelectedItems}}">
        <template slot="itemTemplate" data-oj-as="item">
          <div
          class="oj-panel  oj-sm-margin-2x-bottom oj-xl-margin-2x oj-xl-padding-2x oj-lg-margin-2x oj-lg-padding-2x oj-md-margin-2x oj-md-padding-2x oj-sm-margin-1x oj-sm-padding-1x contentStyle">
          <li>
            <oj-list-item-layout :aria-label="[['Details for ' +item.data.name]]">
            
              <div class="oj-typography-body-md">
                <div class="oj-flex">
           
                 
                  
                  <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end">
                    <oj-list-item-layout class="oj-listitemlayout-padding-off"
                      :aria-label="[['task ' +item.data.taskName]]">
                      <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                        <oj-bind-text value="Available Date"></oj-bind-text>
                      </div>
                      <div slot="tertiary" class="oj-typography-body-lg">
                        <oj-bind-text value="[[item.data.availability_date]]"></oj-bind-text>
                      </div>
                      
                    </oj-list-item-layout>
                  </div>
    
                  <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end">
                    <oj-list-item-layout class="oj-listitemlayout-padding-off"
                      :aria-label="[['task ' +item.data.taskName]]">
                      <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                        <oj-bind-text value="Shift Type"></oj-bind-text>
                      </div>
                      <div slot="tertiary" class="oj-typography-body-lg">
                        <oj-bind-text value="[[item.data.shift_type]]"></oj-bind-text>
                      </div>
                      
                    </oj-list-item-layout>
                  </div>
                 
                  <div class="oj-flex-item demo-list-item-layout oj-md-padding-4x-end">
                    <oj-list-item-layout class="oj-listitemlayout-padding-off"
                      :aria-label="[['task ' +item.data.taskName]]">
                      <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                        <oj-bind-text value="Comments"></oj-bind-text>
                      </div>
                      <oj-bind-if test="[[item.data.comments === '']]">
                      <div slot="tertiary" class="oj-typography-body-lg">
                        <oj-bind-text value="N/A"></oj-bind-text>
                      </div>
                      </oj-bind-if>
                      <oj-bind-if test="[[item.data.comments != '']]">
                        <div slot="tertiary" class="oj-typography-body-lg">
                          <oj-bind-text value="[[item.data.comments]]"></oj-bind-text>
                        </div>
                        </oj-bind-if>
                      
                    </oj-list-item-layout>
                  </div>

    
                    <div class="oj-flex-item demo-list-item-layout3 oj-md-padding-4x-end">
                      <oj-list-item-layout class="oj-listitemlayout-padding-off">
                        <div slot="secondary" class="oj-typography-body-lg oj-text-color-secondary">
                          <oj-bind-text value="Actions"></oj-bind-text>
                        </div>
                      <div slot="tertiary" class="oj-typography-body-lg">
                        <div>
                       <oj-button
                        chroming="borderless"
                        display="icons"
                        class="oj-button-sm editBtn"
                        on-oj-action="[[editAvailability]]">
                        <span slot="startIcon"></span>
                        Edit
                      </oj-button> 
                        <oj-button
                        chroming="borderless"
                        display="icons"
                        class="oj-button-sm deleteBtn"
                        on-oj-action="[[deleteConfirm]]">
                        <span slot="startIcon"></span>
                        Delete
                      </oj-button> 
                      </div>
                    </div>
                  </oj-list-item-layout>
                </div>
    
                </div>
              </div>
            
            </oj-list-item-layout>
          </li>
        </div>
      </div>
        </template>
      </oj-list-view>
    </oj-bind-if>

      <oj-dialog id="openDeleteConfirm" dialog-title="Delete Availble Date" modality="modeless"  style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
        <div slot="body">
          <oj-bind-text value='Do you want to delete the selected row?'></oj-bind-text>
        </div>
        <div  class="oj-flex-bar" slot="footer">
          <oj-button id="okdelButton" class="oj-flex-bar-start oj-button-cancel oj-button-danger-chrome" on-oj-action="[[deleteAvailability]]">
            Yes
          </oj-button>
        </div>
      </oj-dialog>
      <oj-dialog id="openDeleteAvailabilityProgress" dialog-title="Deleteing Availability Details" modality="modeless"
      style="display:none;width:350px;min-width:240px;max-width:450px;">
      <div slot="body">
        <oj-progress-bar id="createbar" class="oj-progress-bar-embedded" value="-1">
        </oj-progress-bar>
      </div>
    </oj-dialog>
