   <div id="sampleDemo" style="" class="demo-padding demo-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        
        <div id="moduleDemo">          
          <oj-buttonset-one class="oj-buttonset-width-auto" value="{{currentModule}}">
            <oj-option id="sv1" value="ie">Integrated Extract</oj-option>
            <oj-option id="sv2" value="ir">Integrated Replicat</oj-option>
            <oj-option id="sv3" value="cr">Classic Replicat</oj-option>
            <oj-option id="sv4" value="pr">Parallel Replicat</oj-option>
          </oj-buttonset-one>
          
          <oj-module config='[[moduleConfig]]' >
          </oj-module>
        </div>

        
      </div>
    </div>
        
          
      